[2021-02-23 10:37] colinmegill opened #856 "Grunt development tasks fail in client-participation"
`$ cd client-participation`
`$ npm start`

This is likely not related to #734 as it appears grunt was previously unspecified. This is probably because we were on a very old version, and it was specified globally in the development environment.

https://gruntjs.com/upgrading-from-0.3-to-0.4

[2021-02-23 10:43] colinmegill commented on #856
We were on at least 0.4

`The "Gruntfile" has changed from grunt.js to Gruntfile.js.`

[2021-02-23 17:14] patcon commented on #830
Pretty sure this is good to close, but re-open if mistaken!

[2021-02-23 18:46] ballPointPenguin commented on #839
I wonder if there can be a slick way to skip the
`cp e2e/cypress/fixtures/html/embed.html client-admin/embed.html` step.

I like to streamline these commands as much as possible. For example, here's how I run the tests (on dev):

[code]

😉  see? nice and simple. I like it that way, as much as possible.

[2021-02-23 20:11] patcon commented on #839
I personally love the idea of putting all of these in `make` commands :) Then we can just use them in npm run-scripts if we'd like? (I find using npm scripts directly are a bit annoying, as keeping them in JSON is annoying, e.g., chained with && operators and without ability to comment inline)

[2021-02-23 20:13] patcon commented on #839
`docker-compose pull` will only work if the test environment is the same as the built containers, which seems not a constraint I'd expect to hold the testing process to? I dunno, assumption might work for a good while though

EDIT: e.g., as soon as we have feature toggles in config, which we already have for comment translation via google translate.

EDIT2: Mostly I don't run them locally, which i

[2021-02-23 20:23] patcon commented on #854
Also, hitting this, and gonna address is same PR, though slightly different:

https://github.com/pol-is/polis/pull/859/checks?check_run_id=1961464575#step:10:404

Related to cypress-iframe timeout not being long enough: https://gitlab.com/kgroat/cypress-iframe/-/issues/7

[2021-02-23 20:43] ballPointPenguin commented on #839
agreed. I should clarify:

Testing the tests (ie sanity check that the current tests pass as is):
`docker-compose pull`

Testing anything else (e.g. local changes, feature branch, newly written tests etc):
`docker-compose --build`

[2021-02-23 20:45] ballPointPenguin commented on #839
But as a sanity check, I do believe it is desirable for a new developer or whomever to run something very simple to just run the tests and get a passing build, even if using the pulled containers (which are 100x faster than building from scratch). This is helpful for troubleshooting one's environment and just knowing that they have a sane green baseline from which to begin.

[2021-02-23 20:46] ballPointPenguin commented on #839
Another scenario would be if the build fails on CI. The first thing I'd want to do is pull the built containers and run the test suite to see if it also fails on my machine and proceed from there.

edit: This would only apply _if_ the build fails in dev, ie after a merge. Maybe in the future we will have built containers for specific branches or PRs to pull.

[2021-02-23 21:38] metasoarous opened #861 "Failed logins leave weird UI state"
**Expected behavior**:
If there is a problem with the login, it should display a specific message.

**Actual behavior**:
Displays a pile of html garbage.

**To Reproduce**:
I'm not sure if this happens with bad passwords, but that might be a way to reproduce. I'm currently observing this behavior on preprod because I haven't updated the postgres db credentials there.

**Screenshots**:

![image](ht

[2021-02-23 21:42] #854 closed, assigned to nobody

[2021-02-23 21:46] patcon commented on #839
You're totally right, good call :) I can imagine a section of readme in Contributing section, like "So you want to write/run an e2e test? Ok, start here `<baby step of quickly running known good state>`"

[2021-02-23 21:47] patcon commented on #839
My first step right now is to click "re-run all" in the checks screen, as more often than not that resolves things, at least with our current e2e test shakiness. But that's a privilege of someone with push access.

Wonder if there's a GitHub app to allow a view with non-push perms to do that...

[2021-02-23 21:51] patcon commented on #861
Yeah agree. It should def parse response from json instead of just booting the full http response into a div :) And if the responses aren't json, but plaintext, prob a reason to change that

[2021-02-23 23:55] ThatOneBeagle commented on #524
Would I be correct in saying that this appears to have already been addressed as part of #770?

[2021-02-24 02:35] #297 closed

[2021-02-24 05:49] patcon commented on #297
Should this be re-ticketed as the feature that eventually ended up surfacing?

[2021-02-24 05:51] patcon commented on #524
Ha! Yes, you're totally right :) Thanks for the issue gardening, @ThatOneBeagle ❤️

[2021-02-24 05:51] #524 closed

[2021-02-24 08:03] colinmegill commented on #297
Thanks @patcon, yes, was thinking the same, how would you phrase it? I might say, to be specific:

"Conversation owners (extend to all moderators perhaps) should be able to edit seed comments while vote count for a given seed comment is `0`"

[2021-02-26 17:31] patcon commented on #839
https://github.com/marketplace/actions/re-run-workflow
The above GitHub Action allows designating a label (e.g., "rerun-tests") that, when applied, will re-run the tests and then remove the label. This allows anyone with `triage` permission to re-run failed tests (normally only available to `push` permission folks)

[2021-02-26 22:41] patcon opened #873 "Fix failing e2e test for embeds: convo description selector"
Re-ticketed from https://github.com/compdemocracy/polis/pull/872#issuecomment-786933155

https://github.com/compdemocracy/polis/pull/872/checks?check_run_id=1991111795#step:10:405

[code]

[2021-03-01 04:43] colinmegill commented on #856
This will be resolved in an upcoming PR removing Grunt. `npm start` in `client-participation` referred to it, but should have referred to gulp dev.

[2021-03-01 09:05] colinmegill commented on #507
Narrative summary target cc @micahstubbs

https://twitter.com/bengglover/status/1364915200248446980

[2021-03-01 19:28] #564 closed

[2021-03-01 22:14] metasoarous opened #876 "Document xip.io env variables in template file"
Hey @patcon; Can you please add line comment about why one might want to use xip in the config template? Colin and I were reviewing and thought it would be helpful if there was a note on this. If you don't think it's generally useful, we're also fine with removing.

Thanks!

[2021-03-02 01:37] patcon commented on #876
it's mentioned here: https://github.com/compdemocracy/polis/pull/872

The failure isn't real -- you can prob re-run to make it green, if you'd like to be certain :) Perhaps that doc change could be merged first, and then it can be explained in one place (and linked from the other)? Lemme know if that order makes sense

[2021-03-02 19:00] patcon opened #879 "Moderators should be able to edit seed comments on unvoted statements"
Re-ticketed from https://github.com/compdemocracy/polis/issues/297#issuecomment-784878380

Context in other issue.

[2021-03-03 15:14] jucor commented on #217
Delicious idea. I think we might be getting to a point where it might make sense to explicitely formulate a latent variable model, which could capture individual's personal use of prioritization and take it into account. Thinking alongside the lines of [Blei 2014](https://www.annualreviews.org/doi/full/10.1146/annurev-statistics-022513-115657).

These latent variable models range from low-rank mat

[2021-03-03 19:41] ThenWho commented on #217
Do you need help @jucor ? Not my area but always good to look a bit further.

I thought I mentioned it but apparently not here: in tensors, priority would be just another slice, next to the agree/disagree/pass slices. It's just another type of information really 🙂 , orthogonal to normal voting but combines nicely with everything.

As as I said, not my area, but I wouldn't be surprised if it ended

[2021-03-03 20:47] patcon opened #882 "When math worker falls over, offer feedback and assurances that data is still being collected"
Re-ticketed from Twitter exchange with @shufschmid:

This is a stub for now.

Math worker falls over quite regularly. Confusion amongst users when that happens in quite common. At worst, that confusion might feel like panic, especially if a large conversation (weeks in the making) is running.

We should offer better feedback to (1) detect and explain when math worker is down, and (2) assure modera

[2021-03-03 21:03] shufschmid commented on #882
thank you @patcon - i'd say not panic, but a very ungood feeling if this happens just when you start and votes are flying in.

[2021-03-03 21:05] colinmegill commented on #882
I agree, better feedback here to all parties would be good. cc @metasoarous

[2021-03-03 21:06] patcon commented on #882
Thanks for saying @shufschmid :) Also, if polis gets some sort of #failwhale friend, I vote we revive this issue :) https://github.com/compdemocracy/polis/issues/74

[2021-03-03 21:33] jucor commented on #217
Thanks Giorgios! Always happy to geek out with others :) Agreed with you,
there should be deep connections between both approaches.

I need to put pen on paper to formalise a bit -- this week is the
conference of Fairness, Accountability, and Transparency, so I don't have
100% time available, but it keeps buzzing in my mind :)

Let me get back to you once I have the basic equations written down in

[2021-03-04 12:45] ThenWho commented on #217
No worries :slightly_smiling_face: If you plan to work in the open, feel free to drop some URL so that me and others can follow up. Otherwise let's sync down the road! 🙌

[2021-03-04 12:49] jucor commented on #217
Happy to work in the open for a good part :) The more eyes, the shallower the problems!

I would normally use Overleaf and Latex, but not sure how good they are for open view, nor how they match what's used by the pol.is community. Any suggestion of tool? Does pol.is have a preferred one that supports equations? @colinmegill ?

[2021-03-04 12:58] jucor opened #883 "Investigating "fair clustering""
**Problem**:
As discussed offline with @colinmegill and @metasoarous , under-resourced minorities have very little time to participat so are under-represented and/or have to rely on other relaying their voices.
How can we take this representation imbalance into account in the clustering?

**Suggested solution**:
I just stumbled upon this article on [Socially fair K-means (Ghadiri et al. 2020)](htt

[2021-03-04 20:50] jucor commented on #648
FWIW it seems that the constant to turn into a variable is here: https://github.com/compdemocracy/polis/blob/dd0e581305b77601f17f003216fa7d48896996b8/client-participation/js/util/constants.js#L9
and the client-side logic where it goes into a variable is here:
https://github.com/compdemocracy/polis/blob/dd0e581305b77601f17f003216fa7d48896996b8/client-participation/js/views/comment-form.js#L17

Now

[2021-03-04 21:55] metasoarous commented on #883
Thanks! This is a **fantastic** suggestion @jucor! I'll pull on this thread a bit.

[2021-03-04 22:11] patcon commented on #648
Wooo. Prettty sure you just laid this out as a great `first-timers-only` ticket, so tagging :)
https://publiclab.org/wiki/software-outreach#First-timers-only

(Also feel free to Just Do It, since you're a first-timer at this point 🙃 )

[2021-03-05 06:45] ThenWho commented on #883
Worth looking into, also Fair PCA mentioned in the article you shared. Nice catch Julien! 👌

[2021-03-06 02:11] #578 closed

[2021-03-09 09:06] midgleyc opened #896 "local polis-file-server sometimes fails to serve files; polis-server crashes"
**Expected behavior**:
Polis-file-server always serves static files, or polis-server can handle a single connection drop. Polis-server does not crash.

**Actual behavior**:
Polis-file-server sometimes drops the connection; polis-server crashes

**To Reproduce**:
Deploy both polis-server and polis-file-server in production, running polis-file-server as 'local' upload. Wait several hours, then acces

[2021-03-09 09:15] midgleyc opened #897 "client-report/src/util/url.js returns the wrong report URL for non-polis / xip.io sites"
`client-report/src/util/url.js` checks the domain for a variety of included strings, returning fixed hostnames if matched. If you're not running on a proper `pol.is` domain, or `xip.io`, it returns localhost. This breaks reports. For example, see [this report](https://polis.client.newredo.com/report/r6ezvrsxcrjyuunrvd7rz) -- if you check the console you can see it's trying to access localhost, whi

[2021-03-09 10:24] midgleyc opened #898 "Links to gitter not in README"
The "Get Involved" section looks like:

[code]

Only the issues, discussions and board have links. I contacted you by email, and was told to access gitter, which I found by searching the repository. You might want to add links for the others as well? Discussions should probably go to https://github.com/compdemocracy/polis/discussions instead of the GitHub home page.

[2021-03-09 20:04] ThenWho commented on #898
You are of course right @midgleyc . I promise you though, there is a reasonable explanation for this :slightly_smiling_face: .

@metasoarous and @colinmegill are in the middle of revamping the (too) many communication channels, i.e. gitter will be dropped in favor of a more feature-rich solution. Discussions is a relatively new comm channel too.

As it happened, README.md got updated before the ne

[2021-03-11 21:43] metasoarous commented on #447
Closing this issue; I don't think there's a good rationale for this in Polis itself. Polis is primarily data gathering software. Too many ways to dice things to cover all analyses in the core tool, hence the [notebooks](https://github.com/compdemocracy/analysis).

Thanks!

[2021-03-11 21:43] #447 closed

[2021-03-11 23:19] metasoarous commented on #241
As recently announced, I'm going to be starting fortnightly office hours. Please see this GH Discussions announcement:
https://github.com/compdemocracy/polis/discussions/907

Thanks

[2021-03-11 23:19] #241 closed

[2021-03-11 23:54] patcon commented on #447
Agree :) Related: https://github.com/compdemocracy/polis/issues/516

[2021-03-12 20:12] metasoarous commented on #224
As stated in #907, we're now only going to be hosting developer calls.

[2021-03-12 20:12] #224 closed

[2021-03-13 20:49] patcon commented on #217
cc @LawrenceFulton

[2021-03-13 20:50] patcon commented on #133
cc @LawrenceFulton

[2021-03-17 07:55] midgleyc commented on #896
The cause of this is that `routingProxy` sometimes raises an `ECONNRESET`. Because there are no listeners -- e.g.:
[code]
this error propagates and crashes the application.

I think this is https://github.com/http-party/node-http-proxy/issues/1455

[2021-03-17 14:23] patcon commented on #896
This is great sleuthing @midgleyc! much appreciated! Sorry, there are not many outside people trying to host Polis in production-like environments.

@joshsmith2 are you hitting something like this as well?

[2021-03-20 08:30] colinmegill opened #915 "Automatic text summarization of results"
Thanks to @micahstubbs and @amyxzhang for spurring this.

Interpretability of Polis results has been, and continues to be, a critical issue for Polis as a platform, and a challenge to the usage of the method by various stakeholders and user archetypes. Interpretability is a hard and foundational problem that will require ongoing development: as more advanced analytic methods are added to the syste

[2021-03-20 09:00] jucor commented on #915
A good starting point would by the large language generation work behind  "The automatic statistician". https://link.springer.com/chapter/10.1007/978-3-030-05318-5_9
I know the authors, I'm sure they'll be happy to have a chat.
This predates large language models, (LLM) which might seem "dated" but is in my opinion a very good thing: the biases in LLM (as highlighted by the parrots paper) are too

[2021-03-20 09:10] colinmegill commented on #915
Generally, I love this & printing to read, thanks for sharing. Obvious point to restate, but this is in line with previous choices to build on PCA over more black box options.

[2021-03-20 09:13] jucor commented on #915
So aligned :)

[2021-03-20 11:02] ThenWho commented on #915
A solid and worthwhile goal 💯. I'm skeptical as to how close to the target we can shoot, but this should be the aspiration, 100% yes 👍

I wouldn't dismiss further visualizations as intermediate waypoints towards this goal though. Visualization is a huge strength of polis after all. For example, keeping snapshots of the conversation as it unfolds and visualizing a meaningful subset of them at the e

[2021-03-21 04:13] colinmegill opened #916 "Countdown clock"
- [ ] Allow conversation administrator to specify an end time for the conversation for both commenting and voting, separately
- [ ] Show this information in the participation experience
- [ ] Let the user know to return often over the course of that time period, perhaps keep the conversation open in a tab, etc

[2021-03-21 14:23] patcon commented on #916
Neat idea!

The above words gave me an idea: (Def a separate ticket though, if others think it has merit)

It might be neat to eventually add "browser notifications" for new statements, for when someone leaves tab open. I think these [even work when tabs are closed...](https://stackoverflow.com/a/49586104/504018)

<sub>Heh, having said that, I'm not sure if anyone actually _allows_ their browser t

[2021-03-21 15:29] ThenWho commented on #916
I think @colinmegill meant to make participants more aware that this conversation continues to evolve, so that they themselves keep it open in a tab.

But I like the notifications idea @patcon ! I think the open tab makes more sense in conjunction with some periodic notification. Now, how to make them less irritating.. 🙂

[2021-03-21 17:12] patcon commented on #916
Yep, sorry, I wasn't clear, but was just sharing the thought that colin's words inspired :) Editted for clarity

[2021-03-22 17:44] amyxzhang commented on #915
Thanks for writing this up @colinmegill! Given my orientation as an HCI researcher, I would first want to understand the goals and experiences of the people who are doing the work to create a report. In my previous work, I've interviewed people who work to generate reports/make decisions from a deliberative process, specifically Wikipedia RfC closers (written up in my [thesis](https://homes.cs.was

[2021-03-23 18:02] metasoarous opened #923 "Deployments should be able to turn off the `/createuser` route"
**Problem**:
Some deployments will want to be able to limit the creation of administrative accounts, depending on deployment context.

**Suggested solution**:
Add an environment variable or other config option that turns this off. Maybe something like `OPEN_CREATEUSER={true,false}`.

**Alternative suggestions**:
* The idea has come up before about a superadmin UI, who can monitor all active conver

[2021-03-24 03:25] EmilioSempris commented on #923
Thanks Chris for bringing it up.

[2021-03-26 06:58] colinmegill commented on #882
We shall have to have a `reduce ungood feelings` design review. @micahstubbs brought up a number of these as we discussed seeding comments and conversation admin, which is full of surprises and corners.

[2021-04-03 04:09] metasoarous commented on #289
Right now we use heroku tooling for encryption.

I think we'd love to have turnkey (or as close to as possible) SSL support, and if that's possible via docker-compose, then great. The officially supported self-deployment path will be via docker-compose, and so we'll need to split dev from production concerns into a separate compose file.

[2021-04-04 16:48] Hiroip opened #934 ""Your account does not have the permissions to view this page." displayed after saving"
**Expected behavior**:
Saving information and staying on the same page.

**Actual behavior**:
Saving information and "Your account does not have the permissions to view this page." is displayed instead staying on the same page.

**To Reproduce**:
Create conversation, modify title or description or tick a checkbox then click away to trigger auto save.

**Screenshots**:

https://user-images.githubus

[2021-04-05 02:29] patcon commented on #934
Confirmed on production. (This is def new.)

Thanks for reporting @Hiroip!

[2021-04-05 18:57] ceteri commented on #915
I'd like to help. From what I've seen, you've got relatively brief, semi-conversational snippets of text, which are obtained from comment threads. Is that roughly correct as a description? From that, I don't quite see where _text summarization_ comes in.

OTOH, if you had annotations for these comments, then it makes sense to generate some text-ish report/narrative describing the aggregates, segme

[2021-04-06 21:35] metasoarous commented on #934
Thanks for submitting this issue @Hiroip. This was a result of the server and client having been out of sync, and has been fixed.

[2021-04-06 21:35] #934 closed, assigned to nobody

[2021-04-08 05:13] metasoarous commented on #36
For posterity, wanted to point out that the whitelist in question is presently controlled through environment variables like so:

[code]

[2021-04-12 14:29] paulthistle opened #956 "Polis report not generating on free account"
**Expected behavior**:
A report is generated

**Actual behavior**:
Page only displays the word 'Loading...' eg https://pol.is/report/r3dheeaevddrm4uwphkjp

**To Reproduce**:
Create any new conversation, generate report link, report does not display. I have waited plenty of time to allow for the report to compile.

**Screenshots**:
If applicable, add screenshots to help explain your problem.

**Dev

[2021-04-12 15:42] patcon commented on #577
Small note: Confirmed that this is stuff present

[2021-04-12 15:44] patcon commented on #803
I suspect this was either a dup of https://github.com/compdemocracy/polis/issues/302 or an issue with math worker falling over and being MIA :) I think this can be closed, but do speak up if I'm mistaken @summerse!

[2021-04-12 15:50] patcon opened #957 "Create endpoint with math worker status"
**Problem**:
Math worker currently falls down quite often. This isn't knowable outside prod access, though shows up in "loading..." status for new convos, and would also manifest as convos and reports not updating realtime (though this is less obviously the case).

**Suggested solution**:
A `/health` API endpoint with a key for math worker status. E.g., https://microservices.io/patterns/observabil

[2021-04-12 15:53] patcon commented on #302
Comment from colin in https://github.com/compdemocracy/polis/issues/803#issuecomment-779447825

[2021-04-12 15:55] patcon commented on #956
Hey @paulthistle! Thanks for filing this bug, as it's important these small frictions get surfaced 🙂  I think it's simply related to the "math worker" (a background process) going down, as happens sometimes, unfortauntely. Also might be because there's no vote data yet (you need data for the report to generate).

Related tickets:
- 🆕 possible improved experience for when math worker is down: https

[2021-04-12 16:15] paulthistle commented on #956
Thanks Patrick,

I believe the problem is not limited to the math worker as I have heard that it is affecting all free account holders currently (certainly all my conversations). The link I gave you was to a report with no data yes, only because I didn't want to post the actual report as it relates to an internal organisational discussion. The conversation in question does have data in it and the

[2021-04-12 16:44] patcon commented on #956
Ah, ok math worker being down would affect everyone. Math worker is what does all the "dimensional reduction" work to derive data from the "votes", and so reports and the participate viz (at least live results) all depend on it. So it seems #957 is the ticket that would support you a bit (by offering insight and clarity about what's happening).

The quick and easy fix right now, as i understand, i

[2021-04-13 09:28] paulthistle commented on #956
Got a confirmation email from Colin this morning that the report was now available. Thanks for a quick response

[2021-04-13 13:56] patcon commented on #956
Cool! Do you think this ticket good to close, given the others that exist? I can let you do the honours :)

[2021-04-13 14:15] #956 closed, assigned to nobody

[2021-04-13 14:16] paulthistle commented on #956
All done, many thanks

[2021-04-14 11:23] paulthistle opened #959 "No way to change account settings other than password"
**Problem**:
There doesn't seem to be any way to change personal account settings. I have found a way to change password but not name, email address etc.

**Suggested solution**:
Create an account settings change form?

**Additional context**:
The account holders name appears in paragraph 5 of the output report, which also doesn't seem to be editable.

[2021-04-14 13:52] patcon commented on #959
Hey again Paul 👋 thanks for being willing to open these tickets!

You're right that there's currently no way to edit anything but the password. It's definitely a good feature suggestion though! I worry that there may be a lot of other important features that would get priority over this (though I don't make that decision myself, as an outside contributor like you!)

Might you be interested in impl

[2021-04-14 15:07] paulthistle commented on #959
Thanks Patrick, I think your solution of simply creating another account is the best answer and I can see that this issue is low down the priorities. Happy for it to be closed for now.

[2021-04-14 19:46] patcon commented on #959
ok! if you wouldn't mind fixing up with a clearer title (so ppl can better recognize it later if looking), and closing, that'd be stellar!

[2021-04-15 02:20] micahstubbs opened #960 "RFC: Gradual TypeScript Adoption for Current JavaScript codebase"
**Problem**:
Reliability could be better. Deployments break for hard to debug reasons. Interfaces are less documented than we'd like, and sometimes unclear to new contributors.

**Suggested solution**:
Adopt TypeScript gradually for the current JavaScript codebase.

**Additional context**:
https://www.typescriptlang.org/

[2021-04-15 02:21] micahstubbs commented on #960
@colinmegill I think you had mentioned that if we pursue this, we could start in a specific, more self contained part of the codebase.  Was that the admin panel?

[2021-04-15 02:22] micahstubbs commented on #960
@patcon I'd also like to hear your thoughts generally about this proposal, as well as what part of the code base would be a good place to start.

[2021-04-15 02:23] patcon commented on #960
This seems like a great idea! Never worked with typescript, but heard great things.

Will this make any attempt at merging admin+participation+report (esp handlebones stuff) any harder or easier, or can they mix and play nice and one area of code is unconcerned that others are in typescript? :)

[2021-04-15 02:26] micahstubbs commented on #960
I'd also like to try to identify and hard dependencies that we would need to start transpiling new `.ts` or `.tsx` TypeScript to JavaScript.

Do we need to make changes to the existing gulp config?

Do we need to migrate to webpack, in part or in whole?

Would it make sense to adopt @patcon's razzle PR #515 , to quickly enable TypeScript transpiliation? (Ideally these too things would be separate,

[2021-04-15 02:26] patcon commented on #960
Not sure which intuitions to trust, but I can see it being easier for admin (since already really nice and reacty), but maybe bigger gains for participation (since it needs so much love). Leaning toward participation getting typescript attention first, just bc its the only experience of so many ppl, and improving that DX allows the user-facing bits to move more fearlessly and responsively :)

Agai

[2021-04-15 02:27] micahstubbs commented on #960
Easier if all are typed.

The same if not, as you can just type the interactions with untyped code as `any` to start with.

[2021-04-15 02:29] patcon commented on #960
My sense is that, yeah, build system (gulp=>webpack) might need attention before moving to TS. Stuck on a few diff versions of node until then, it seems

[2021-04-15 02:38] micahstubbs commented on #960
makes sense. I'll checkout a branch and try to get TypeScript tooling setup.

@patcon if you are interested in doing the same experiment, I am happy to review and merge your TS config if you get it working before I do.

[2021-04-15 03:23] colinmegill commented on #960
Thanks a ton @micahstubbs and @patcon! An aside, for performance reasons, `client-participation` is a separate bundle intentionally. `client-report` and `client-admin` will be merged, and `client-report` modernized along the way.

There are a lot of dead routes on the server, and a number of routes that could be:
1. cleaned up of comments
2. updated to ES6 const / etc
3. updated to async / await i

[2021-04-15 05:03] micahstubbs commented on #960
okay, I've checked out a branch to add typescript to the `server` directory sub-project

WIP PR here https://github.com/compdemocracy/polis/pull/961/files

[2021-04-15 21:53] metasoarous opened #963 "User.createDummyUser undefined, preventing xid embed"
**Expected behavior**:
Polis embeds should be able to use xid-data in the

**Actual behavior**:
User creation fails with the following error message:

[code]

**To Reproduce**:
I believe this is off of a more or less standard docker-compose setup.

**Additional context**:
This may be related to the following issue, but the error messages don't line up exactly: https://github.com/compdemocracy/poli

[2021-04-16 00:11] patcon commented on #963
Haven't seen this myself, but I believe this is what @joshsmith2 submitted a PR for here, so might be worth reviewing/merging that sucker first: https://github.com/compdemocracy/polis/pull/757

[2021-04-17 20:10] beowulf11 opened #964 "Embedded pole not storing cookies"
**Expected behavior**:
I voted on statements and refresh the website, I should only see statements which I didn't already vote on.

**Actual behavior**:
I can vote again on all statements (with no history on which statements I already voted on).

**To Reproduce**:
I created a [public repo](https://github.com/beowulf11/pol.is-cookie-bug) and hosted the [site](https://polis-bug.vercel.app) it to see

[2021-04-17 20:23] patcon commented on #964
Thanks for filing, @beowulf11! Confirmed I could reproduce same issue with dead-simple embed of prod polis convo on localhost and *.xip.io domains. Could submit anon votes, but then when refreshed page, all prior votes were forgotten.

Doesn't seem to affect embeds on pol.is domain, so likely an allow-list issue? re: https://pol.is/embed.html works fine

[2021-04-19 12:06] nlsvgtr commented on #963
Hi, I'm Niels. This issue was created by Chris after I asked him a question over email.

I added the PR code to my local version. That did not solve my problem but it does change the error in the log:
[code]
Maybe that helps?

[2021-04-19 13:44] patcon commented on #963
Hi! Nice to meet you. Glad you got one dealt with :) I think you're peeling back some errors that @joshsmith2 has worked through. This is perhaps the next one to apply #758 . Pls do update how it goes!

[2021-04-19 13:48] patcon commented on #963
If it feels like the right place, feel free to drop updates in the above thread (or here if the other issue seems different). I'm going to close this for now, but def feel welcome to re-open @nlsvgtr :)

[2021-04-19 13:48] #963 closed, assigned to metasoarous, colinmegill, micahstubbs

[2021-04-19 23:29] #790 closed, assigned to nobody

[2021-04-22 17:50] alexrandaccio commented on #963
Hi all, this issue just started occurring on all of my pol.is embeds. I have had two sites up for months now that embed pol.is conversations using xid's, and I had no problems. As of this week, though, voting and commenting are both broken, with both triggering this error in the console:

"TypeError: User.createDummyUser is not a function<br> &nbsp; &nbsp;at /app/src/conversation.js:58:21↵:

Is th

[2021-04-22 19:04] metasoarous opened #972 "Not possible to run client-report on custom domain"
**Expected behavior**:
There is a `SERVICE_URL` configuration setting in the `client-report/polis.config.js` file. Setting this should configure all requests to point to given url.

**Actual behavior**:
Some requests end up going through to localhost:5000, leading to CORS errors, indicating that the `SERVICE_URL` setting does not seem to be fully plumbed through the app.

**To Reproduce**:
Deploy

[2021-04-22 19:48] patcon commented on #963
My quick impression is that merging https://github.com/compdemocracy/polis/pull/757 and https://github.com/compdemocracy/polis/pull/970 might resolve this, though checking xid embed functionality is missing from e2e tests

A simple "does this crash" e2e test (stealing from [`e2e/cypress/integration/polis/client-participation/embeds.spec.js`](https://github.com/compdemocracy/polis/blob/dev/e2e/cypr

[2021-04-22 20:09] nlsvgtr commented on #963
Merging #757 and #970 did fix it for me.

[2021-04-23 16:05] alexrandaccio commented on #963
thank you @patcon and @nlsvgtr !!

[2021-04-26 12:34] Hiroip opened #976 "Consider how to deal with coordinated data spoilage attacks"
**Problem**:
I couldn't find if this has been considered or not :
Votes can be subject to data poisoning attacks if an ill-intent group decides to run a coordinated spam campaign on a conversation, making the end results non-genuine.

**Suggested solution**:
Being able to remove entire vote records coming from specific sources whom vote pattern is suspicious (participants voting no on everything,

[2021-04-26 21:02] metasoarous commented on #976
Thanks for bringing this up @Hiroip. This is obviously a super important issue.

Right now, our recommendation for dealing with these issues is to filter the votes/data in post-processing analyses. Our automated reported is intended as a starting point for analysis, and in high-profile cases are typically followed up by a more in depth analysis, where custom filters (and [analytical tools](https:/

[2021-04-27 21:07] Hiroip commented on #976
These two features would do a lot to begin with.
Can you elaborate on comment routing ? In any case all participants receive all comments to vote on, right ?

[2021-04-28 05:12] patcon commented on #976
Hiya! Comment routing is described most officially in the knowledgebase: https://compdemocracy.org/comment-routing/

There's also some more advanced notes from a technical office hours that Chris ran last month, in which @LawrenceFulton (a Computer Science student) cornered him for a walkthrough of the "math" component's logic, for [his pending bachelor's project](https://github.com/LawrenceFulton

[2021-05-04 06:13] daniel-skywalker commented on #513
Hello! Reviving this discussion - any news on the RTL issue?
After the Hebrew translation is completed, and towards making this tool popular in the regional climate conferences, visibility and UX really call for RTL display.
What can I do to help?

@metasoarous

[2021-05-04 15:22] patcon commented on #513
Hey Daniel! Remind me, are you comfortable with JS programming? Or would you have anyone in your network who you could recruit to implement this?

I would imagine the first step would be for (1) someone research best-practices for this, (2) share some links to confirm their preferred approach, and then (3) making a quick proposal in this issue. Obviously, it's open source, so someone can just "wri

[2021-05-04 15:55] daniel-skywalker commented on #513
Hey Patrick,

I was a programmer but I think this task is out of my scope. Also, I don't
believe we'll have someone for the job in the coming few months.

Theoretically I could research some best practices and link them, but there
is also a decent chance I'll be posting irrelevant stuff.

I saw this task was removed from your "to do". What does this mean? Is this
task somehow prioritized? Can I af

[2021-05-04 21:32] patcon commented on #513
I don't have any insight on that, so I'll leave someone else to respond with the inside scoop 🙏

I have further questions, but I don't think this issue is the appropriate place, so pls do jump into the discord chat linked above if you'd like to continue discussing

[2021-05-05 16:49] micahstubbs commented on #162
will send a PR to do this for `server` presently

[2021-05-07 16:25] alexrandaccio commented on #963
Hi, just checking in to see what the status is on merging #757 and #970. Still waiting on reviews / tests?

When I need a pol.is conversation on my site, I just have links to the pol.is domain instead of iframes at the moment. That works for now, but if anyone has updates or advice on other workarounds, let me know!

Thanks again for all your amazing work, everyone.

[2021-05-07 18:16] patcon commented on #963
I don't think it needs anything else like tests, just review and merge of team. (I believe they're working on some other large maintenance tasks.) If this is urgent for RxC Voice, I'd suggest making a case via email 🙏

EDIT: Also, speaking up in open issues, as closed issues might not be the best place

[2021-05-13 15:07] fulldanad commented on #516
Hey Gents,
I'd like to import OpenData into a polis conversation to show political convergences of our deputies.
I thought the import feature would do the trick.
When do you think this might be available in cli mode ?
Cheers

[2021-05-13 18:06] jzkelter commented on #666
Hi everyone,
I just came across the same issue. I did a trial run using pol.is with about 10 people with the idea of then using it with our whole department. When I tried to generate a report to show them what it looks like, the page just says "Loading...".  I have the same errors in my console as @Trentondmiller in the first comment.

[2021-05-13 22:20] patcon commented on #666
Thanks @jzkelter! As alluded to in https://github.com/compdemocracy/polis/issues/666#issuecomment-738555023, it's likely that the "math worker" is down

This is a long-standing issue that's complex to address, as the "math worker" can go down for any number of reasons that I believe are challenging to mitigate rn.

EDIT: @metasoarous does math worker reset on any sort of regular timeline (a kinda

[2021-05-14 02:08] patcon opened #1008 "Migrate from xip.io to alternatives for local dev whitelist"
After Basecamp controversy, xip.io is down, and maybe no more:
https://twitter.com/sstephenson/status/1388146130261790721

Alternatives are https://sslip.io/ or https://nip.io/

[2021-05-14 04:20] patcon opened #1009 "Fix bundlesize watcher"
Build is broken as of https://github.com/compdemocracy/polis/commit/a683c6376387befdf9371a03cb7dbd7eb720389a:
https://github.com/compdemocracy/polis/pull/1008/checks?check_run_id=2581058640

Should be small fix to get back to green builds -- grepping will find where that npm command was used before. or i can just strip out the bundlesize watch CI script if there's no desire to track its changes in

[2021-05-15 04:06] patcon commented on #666
@jzkelter I've started keeping an unofficial FAQ here, to make it easier to share best-practices for this common question 🙂  https://hackmd.io/@patcon/conversa-calls/https%3A%2F%2Fhackmd.io%2F%40patcon%2FB1rwrXiu_#Why-does-my-report-page-say-%E2%80%9CLoading%E2%80%A6%E2%80%9D

[2021-05-15 04:08] patcon commented on #803
For future travellers, I've created an explanation here in a community-maintained FAQ: https://hackmd.io/@patcon/conversa-calls/https%3A%2F%2Fhackmd.io%2F%40patcon%2FB1rwrXiu_#Why-does-my-report-page-say-%E2%80%9CLoading%E2%80%A6%E2%80%9D

[2021-05-15 04:11] patcon commented on #39
For future travellers looking for information on data export, I've created an explanation here in a community-maintained FAQ:  https://hackmd.io/@patcon/conversa-calls/https%3A%2F%2Fhackmd.io%2F%40patcon%2FB1rwrXiu_#How-do-I-export-my-data ❤️

[2021-05-18 15:36] patcon opened #1015 "Small restructure of root dir"
Hi! Was going to initiate another PR to request inclusion of PDIS's helpful "hackScripts" for common tasks (https://github.com/compdemocracy/polis/issues/1016). During that, I recalled that in a recent dev onboarding, all the folders make for a bit of confusion about how Polis works, and one more "hackscripts" folder (or whatever name suits) would make it even more so. Wanted to float an idea for

[2021-05-18 15:56] patcon opened #1016 "Adopt hackScript utilities from PDIS fork"
These helpful scripts were forged in the practice of hosting one of the few other prod-ready polis instances. Feels like a shame to lose them, so I'd request we merge them into upstream.
- We could invite more scripts. For example, @colinmegill's unpublished manual checklist or GDPR compliance on data deletions could make a great script conversion (https://github.com/compdemocracy/polis/issues/746

[2021-05-18 16:12] patcon commented on #746
@colinmegill mentioned in https://github.com/compdemocracy/polis/issues/746#issuecomment-757533843:

Could this rough checklist be shared somewhere, perhaps just dropped into `docs/`? Or just link to a good doc and I can bring it in :) Whatever's simplest

[2021-05-20 08:32] mrogvallref opened #1018 "A number of containers exit with code 0 when doing docker-compose"
**Expected behavior**:
That all docker containers run as expected

**Actual behavior**:
a number of containers stop running. The dockers that start and the list that comes up when doing `docker ps` are not the same.

**To Reproduce**:
do the docker install and run

**Device information**:
Windows 10

**Additional context**:
the following docker containers exit when doing docker-compose up:

polis-

[2021-05-20 14:45] patcon commented on #1018
Hey @mrogvallref! Thanks so much for taking the time to file this :) I'm an external polis user like yourself, who happens to have a bit of insight after hanging around for awhile

Actually, those containers are "build containers" and are simply used for building via a multi-stage dockerfile, but the built contents are copied into the file-server container. So they are in fact not _supposed_ to be

[2021-05-20 14:56] mrogvallref commented on #1018
the issue that actually led me down a rabbit hole is that i can not get the local dev environment to work. i have tried many things and have been trying to get it to work for many many hours. Do you have experience in using a local development environment?

Im specifically talking about client-participation views.

The localhost:5001 produces a blank page. when i use the 5001 port on localhost the

[2021-05-20 20:12] patcon commented on #1018
Update: @mrogvallref and i were interacting in discord.

Do you still have outstanding questions or concerns that we could finish or spin out of this ticket?

[2021-05-20 20:15] patcon commented on #1018
Also, for future travellers:

As I understand, this is not an explicit goal of Polis project. Even getting a standalone instance working is not "supposed" to work yet out-of-the-box, and requires effort, server hosting experience, and ongoing expertise and security know-how to get it running. It's not a simple nodejs app, but is more like layers of historic frameworks and approaches from 10 years

[2021-05-20 23:23] metasoarous commented on #1018
Thanks for your issues here @mrogvallref.

To be clear, it is a goal of The Computational Democracy Project that Polis be easy to get set up, both for deployment and development, and have been taking steps to improve that. However, we have have limited capacity for this work, and are grateful to all of the open source developers who have helped us make progress on this front. @mrogvallref  You jus

[2021-05-24 01:15] micahstubbs commented on #873
Should we disable this flaky test until it is fixed? I just tried to run the tests locally and noticed that it is failing still.

Steps to reproduce, for me:

[code]

[2021-05-24 01:17] micahstubbs opened #1019 "document how to exclude secrets-based tests from local test runs"
**What would you like documented?**

document how to exclude secrets-based tests from local test runs

**Where should it live?**

https://github.com/compdemocracy/polis/blob/dev/e2e/README.md

**Any additional context which might be relevant?**

https://testersdock.com/skip-only-cypress/

[2021-05-24 01:19] micahstubbs commented on #1019
This test fails when I run locally:

![Screen Shot 2021-05-23 at 6 18 27 PM](https://user-images.githubusercontent.com/2119400/119283938-4a202600-bbf3-11eb-8c9a-f8cff56fb450.png)

repro steps:

[code]

[2021-05-24 01:22] micahstubbs commented on #830
will re-open this until PRs are merged

[2021-05-24 01:25] micahstubbs commented on #830
okay, after reading more, the new ticket is good. will close this again.  https://github.com/compdemocracy/polis/issues/839

[2021-05-24 01:25] #830 closed, assigned to nobody

[2021-05-24 03:40] micahstubbs commented on #1019
fixed by #872

[2021-05-24 03:40] #1019 closed, assigned to nobody

[2021-05-24 03:51] patcon commented on #873
Skipping it is def fair game if no time to troubleshoot, although embeds are something that might be worth the time to salvage the test for, as embeds breaking is non-obvious and a pain to test manually. (if not now, i guess not sure when else the fix will happen 🤷 )

<img width="940" alt="Screen Shot 2021-05-23 at 11 44 32 PM" src="https://user-images.githubusercontent.com/305339/119293855-46a393

[2021-05-24 03:57] colinmegill commented on #873
Important note:

⏳ This message appears when we are loading (and in that case is inaccurate, and should be a spinner).

https://github.com/compdemocracy/polis/blob/dev/client-admin/src/components/conversation-admin/conversation-config.js#L50

and

https://github.com/compdemocracy/polis/blob/dev/client-admin/src/util/component-helpers.js

need to be updated to reflect whether or not the app has rec

[2021-05-24 04:07] patcon commented on #873
Ah good call! It may be related, but I think the test waits for awhile here before concluding it's not going to find what it's looking for -- it doesn't just fail immediately when "loading" (aka "no access") component flashes for a moment. So I think this is a legit "this cookie doesn't have access to dashboard" moment. (i.e. an issue with login/logout in test)

EDIT: yay long weekend :)

[2021-05-24 04:18] colinmegill commented on #873
Loading, logged in, parent state / child props

https://github.com/compdemocracy/polis/blob/dev/client-admin/src/app.js#L106

[2021-05-25 05:08] micahstubbs commented on #873
Good to see some movement on this one ☺

I would suggest trying to fix forward in some reasonable amount of time, say one more day or one more week.

If we aren't able to fix forward in that amount of time then I think we should disable the test until we can fix it or fix the underlying Behavior.

While every bug fix is important, reliably green tests are more important than any individual bug fix

[2021-05-25 07:17] patcon commented on #873
Sounds good, but sorry, to clarify, I was offering context on how it could be fixed, but won't be spending time on it myself. So it sounds like best to just add skip and merge

[2021-05-25 15:09] willcohen commented on #803
Per the FAQ mentioned above, just emailed hello, but as a more public note it looks like the math worker is down again -- new reports are stuck at loading.

[2021-05-26 16:49] metasoarous commented on #1015
I'm not a fan of even more nesting than we have already, and while I agree that it would potentially make things a little more self documenting, I'm skeptical that we'll be saving anyone that much time. If this isn't clear enough (early on) from the README, I'm happy to look at a PR dealing with that.

We already have a `bin` directory, and I don't see a good reason to change it. There's nothing t

[2021-05-26 16:52] #591 closed

[2021-05-26 16:53] metasoarous commented on #591
This isn't really relevant to anything currently in the core Polis, so closing.

[2021-05-26 17:01] colinmegill commented on #507
Same statement already submitted in different words

[2021-05-26 17:19] willcohen commented on #803
Sorry for the noise, I forgot to tag @metasoarous in the last comment.

[2021-05-26 19:15] colinmegill commented on #1015
Also not in favor, closing

[2021-05-26 19:15] #1015 closed, assigned to nobody

[2021-05-27 01:48] micahstubbs commented on #873
@patcon ack, thanks for clarifying.

@colinmegill I think we should disable this flaky test and add a `TODO Issue #873` comment in the codebase where we disable it.

I think that eventually we should try to fix this test and include it in the test Suite that runs all the time in CI.

[2021-05-27 02:01] colinmegill commented on #873
I'm on board

[2021-06-01 13:41] willcohen commented on #803
@patcon @metasoarous @colinmegill Hello all, is there anything I can do to assist with restarting the math worker? A polis we started a few weeks ago is now in the thousands of votes and we're still unable to see the reporting out.

[2021-06-02 00:51] metasoarous commented on #803
@willcohen I had no idea this one particular conversation was still a problem for you. There have been periodic short periods of down time due to heap memory issues with large conversation, but nothing that shouldn't be taken care of on the span of days. Please shoot me an email with your particular conversation url, and I'll take a look at it.

[2021-06-04 16:16] petersg83 commented on #97
Hi,
I would really enjoy that people have the possibility to authenticate without using a private company such as twitter or facebook.
The email is the best way for that I think.
In order to guarentee that the contributor can't make several accounts, there are different possibilities I see:
- **If the discussion targets people inside a company/institution:**
    Participants can only register with

[2021-06-07 13:56] stuartlynn commented on #648
Hey @jucor . I was wondering if you made progress with this. If not I am happy to take a swing at it. Looking to do a few tickets to get a feel for the codebase. Don't want to step on your tows though if you have already got some code written!

[2021-06-07 17:19] jucor commented on #648
No I haven't :) I've been mostly thinking about the math, where I'm more
uniquely useful. Go for it! And happy to serve as soundboard / second pair
of eyes if you want to invite me on a WIP PR :)

On Mon, 7 Jun 2021, 14:56 Stuart Lynn, ***@***.***> wrote:

[2021-06-08 17:12] stuartlynn commented on #648
I had a clarifying question here.

What should happen if an admin changes the character limit after comments have been submitted? Specifically if they reduce the character limit?

1. All existing comments stay active but all new comments must adhere to the new limit
2. All existing comments which exceed the limit are retired/removed from the system and new comments under the limit are allowed?
3.

[2021-06-08 17:26] colinmegill commented on #648
Perhaps we solve it centrally. We modeled the limit on a system that faced,
and solved, the same issue.

https://blog.twitter.com/official/en_us/topics/product/2017/Giving-you-more-characters-to-express-yourself.html

[2021-06-08 17:44] jucor commented on #648
Colin, do you mean "we extend it for all languages"?  In which case it
would not a moderator-parameter anymore, but a constant that we change
throughout the repo?

On Tue, 8 Jun 2021, 18:27 Colin Megill, ***@***.***> wrote:

[2021-06-08 17:46] stuartlynn commented on #648
So I think there are a few separate questions then.

1. Is it desirable to allow an admin to be able to arbitrarily set the character limit?
2. If not then is it desirable to give them a few options 140, 280 etc.
3. If any kind of choice is bad, does increasing the limit globally catch all edge cases?
4. In either of the choice based systems, what should happen if the limit is decreased to be less

[2021-06-10 21:31] stuartlynn commented on #648
I have some time to start work on this over the weekend if it's still a feature worth developing!

[2021-06-10 23:19] patcon commented on #648
Haven't had time work on polis stuff in aaaaages, but I'm down to cowork on our own tickets over the weekend if you are, Stuart!

Oh hey, for clarity: I recall "admin" tends to refer to "server admin" and "moderator" is the term for the owner of a convo. Just to keep lingo clear :)

I'm sure it's fine to jump right to this issue, but for context: in prior discussion, making chat limit configurable

[2021-06-11 13:39] stuartlynn commented on #648
Awesome. I have been poking around the codebase a little and think I know all the places to accomplish this! Going to take a swing at it Saturday morning. Will ping you on discord to see if your about and want to co-work! Excited to do more with Polis but want to learn the codebase by helping close out some of these tickets!

Thanks for the answer to my questions, I think these make sense.  Will t

[2021-06-27 13:13] paulovcarvalho opened #1051 "Report fails loading"
The report does not load and I can see this errors in the console, similar for Chrome and Brave:
https://pol.is/report/r3wvzmrnh3rfrakuuyfkp

report_bundle.js:33 assertExists failed. Missing:  base-clusters
u @ report_bundle.js:33
report_bundle.js:33 assertExists failed. Missing:  consensus
u @ report_bundle.js:33
report_bundle.js:33 assertExists failed. Missing:  group-aware-consensus
u @ report_

[2021-06-29 20:39] metasoarous commented on #1051
Hi @paulovcarvalho. Thanks for notifying us of this. This should now be fixed, but please let us know if you have further issues.

[2021-06-29 20:39] #1051 closed, assigned to nobody

[2021-06-29 20:42] metasoarous commented on #1018
I'm closing this issue now, but please feel free to open a new one if there's a specific issue that still needs to be addressed.

Thanks again.

[2021-06-29 20:42] #1018 closed, assigned to nobody

[2021-06-30 13:26] paulovcarvalho commented on #1051
Supper thanks so much for your support and fantastic work.

[2021-07-02 01:02] metasoarous opened #1056 "Switch from Stuart Sierra's Component library to Mount in the math module"
**Problem**:
The math module currently uses Stuart Sierra's Component library for system reloadability, which gets the job done, but requires explicitly passing around system/component objects when tinkering around at the REPL, which adds development friction.

**Suggested solution**:
I'd like to switch us to [Mount](https://github.com/tolitius/mount). Not only does it get around the problem of ex

[2021-07-08 22:41] metasoarous opened #1059 "fix errant threads on system stop/restart in dev mode"
**Expected behavior**:
When running `polismath.runner/stop!`, the system should come to a complete stop.

**Actual behavior**:
Instead, a system monitor will show an errant thread running for each invocation of stop in this fashion, suggesting that there's a go loop or something that is not winding down, and running in a tight loop on a closed channel (or something to that effect).

**To Reproduce

[2021-07-11 00:14] metasoarous opened #1061 "Remove columns from matrix corresponding to moderated out comments"
**Problem**:
The math actually uses two matrices: the first "raw" vote matrix, which has `nil` for comments which a given participant hasn't voted on, and a second where we've replaced these values with imputed means, and zeroed out columns corresponding to comments which have been moderated out of the conversation (either explicitly or implicitly, depending on moderation settings). It's this seco

[2021-07-11 00:28] metasoarous opened #1062 "Switch from boutique NamedMatrix impl and core.matrix to tech.ml stack for math"
**Problem**:
We're currently using a custom [NamedMatrix](https://github.com/compdemocracy/polis/blob/dev/math/src/polismath/math/named_matrix.clj) protocol and implementation to house the raw votes in the math worker. This structure is _more or less_ a dataframe/dataset structure. At the time it was developed, there wasn't really a good ready-made option for this, and so we built our own. This ha

[2021-07-13 13:09] willcohen commented on #1056
I'm not expressing a pure opinion on this one way or another -- I'll just note that I've found myself both sometimes frustrated by the system object in component and also sometimes frustrated by the behind-the-scenes magic in mount, so the fresh start makes the most sense if it, in some way, "forces" the fine-toothed comb over all the logic to happen. Sometimes the system object has been useful fo

[2021-07-18 22:23] metasoarous commented on #964
Thanks for raising this issue @beowulf11.

~~Please make sure that the website is properly configured for cookies to be used from the embedded iframe: https://medium.com/trabe/cookies-and-iframes-f7cca58b3b9e~~

~~@patcon Would you please also verify these settings with your embed test? This issue has come up quite a few times, and it would be great if we could point to a fully-functional example,

[2021-07-18 22:54] metasoarous commented on #959
Let's leave open; As suspected, it is low priority, but still a valid issue, and one we'd be happy to accept a PR for if someone is inspired.

Thanks for submitting!

[2021-07-19 23:34] metasoarous commented on #898
Hi @midgleyc. Thanks for reporting this.

I've cleaned this up in 92b73c58796a4c8f5ad7116f62c8976443999d94. More links will be forthcoming, but for now this will do.

Thanks again!

[2021-07-19 23:34] #898 closed, assigned to nobody

[2021-07-24 17:07] metasoarous commented on #1062
Update: I've realized that while the core.matrix implementation doesn't support proper missing values, [clatrix](https://github.com/tel/clatrix) _does_ support using `##NAN` in matrices. I wish I had thought of this way back when, as I think using a proper matrix type over a (Clojure) vector of vectors will probably make a pretty big difference. Nevertheless, a lot of the reasons mentioned above f

[2021-07-30 19:12] metasoarous opened #1083 "Fix link on homepage which points to previous GH org"
### Discussed in https://github.com/compdemocracy/polis/discussions/977

<div type='discussions-op-text'>

<sup>Originally posted by **louy2** April 27, 2021</sup>
The link under the Contribute section on the [pol.is homepage](https://pol.is/home) links to [the old Github account](https://github.com/pol-is/) where most everything is archived. How to fix it?</div>

[2021-08-03 19:06] RoboTeddy opened #1092 "embedded polis: votes endpoint returning 500 when `xid` is present"
This is the actual http request my browser was sending, with extraneous headers/etc removed:

[code]

it results in a `500` status code with a response body of `TypeError: User.createDummyUser is not a function<br> &nbsp; &nbsp;at /app/src/conversation.js:100:23`.

[2021-08-03 19:47] RoboTeddy commented on #1092
Hmm does anyone know what version of the Polis server is deployed on `pol.is`? It might be out of date — `git grep` doesn't show the code that is referred to in the error:

![image](https://user-images.githubusercontent.com/172271/128076877-3aa44a02-b6b2-4955-8926-9ba6771cb81d.png)

And some related code did move around as recently as 14 days ago: https://github.com/compdemocracy/polis/pull/757

S

[2021-08-04 23:21] OrionSmedley opened #1094 "Way to type in your name without having to connect facebook or twitter."
**Problem**:
Say you are planning an event. You want the people coming to the event to participate in the planning.
So you decide to use pol.is.

Pol.is either has no logon for users, or requires Facebook's or twitter's logon.
If the audience doesn't use Facebook or twitter, then you  have to use the no logon option to get participation.

Yet as the event planner, you may want to reach out to foll

[2021-08-05 02:44] colinmegill commented on #1094
Hi @ionsme! Thanks for filing this.

Pol.is facilitates seamless participation via the `data-xid` property (it is intentional to the design of the system that the only way to get participant information is if you already have it, to discourage mass mailing).

You can find the docs for `xid` here: https://compdemocracy.org/xid/

[2021-08-05 02:44] #1094 closed, assigned to nobody

[2021-08-05 02:56] colinmegill commented on #1092
It's possible the error was introduced in that recent commit. cc @metasoarous

[2021-08-05 19:49] metasoarous commented on #1092
@RoboTeddy Thanks for bringing this to our attention.

I think you're right that this was the result of these changes not having been deployed yet. I've gone ahead and redeployed. Please let us know if this fixes the problem for you.

Thanks again!

[2021-08-05 20:06] RoboTeddy commented on #1092
Hi @metasoarous; thanks!

Just tried re-running the `curl` command, and I get the same http status code and response body as before.

Are you sure the deploy is complete? If it is complete then maybe there's some kind of js packaging/rewriting going on that leads to an apparent mismatch in line number/code between the deployed bundle and the git repository.

[2021-08-05 20:29] metasoarous commented on #1092
@RoboTeddy Thanks for trying again, and for taking the time to scrutinize the line number discrepancies.

Indeed, it looks like I forgot to actually re_build_ the client assets before redeploying :facepalm: Please give it another shot and let me know how it goes.

Thanks again!

[2021-08-05 20:50] RoboTeddy commented on #1092
@metasoarous hi thanks for sticking with! I'm still seeing the same error so far. By the way, if you want to try seeing what's going on with a tighter feedback loop than waiting for me to respond, you're welcome to run the `curl` command from the original post and observe the output — I'm also happy to keep checking the thread though, so up to your preferences!

[2021-08-05 21:40] metasoarous commented on #1092
@RoboTeddy Thanks for the follow up.

It's a little obvious in retrospect, but this was a server issue, not client (and indeed the commits on #757 were to the server code, not client code). I've updated the server deployment, and your curl command is working now.

Thanks again!

[2021-08-05 21:40] #1092 closed, assigned to nobody

[2021-08-07 05:17] metasoarous commented on #442
I simplified the TODO list above since some of those items aren't strictly necessary for adding Ukrainian translations for the participation experience.

@Digharatta - Are you still interested in helping with this? Please let us know if you need some additional guidance. The long story short is that you can copy over the `client-participation/js/strings/en.js` file to `.../uk.js`, and add your cor

[2021-08-07 12:16] Digharatta commented on #442
@metasoarous Hi, thank you, I made a translation and created a pull request.

[2021-08-09 21:17] #1083 closed, assigned to nobody

[2021-08-09 21:21] metasoarous opened #1106 "Reduce bundle size"
**Expected behavior**:
Bundle size should be below 140kb.

**Actual behavior**:
Currently at ~143kb; see [bundlewatch results](https://service.bundlewatch.io/results?d=details%7CrepoOwner%7Ccompdemocracy%7CrepoName%7Cpolis%7CrepoCurrentBranch%7Clander-page-link-fix%7CrepoBranchBase%7Cdev%7CcommitSha%7C97145784749452e6f45fd0ab0ced77aee0db491d%7Cresults%7Cstatus%7Cfail%7CfullResults%7CfilePath%7Ccli

[2021-08-09 23:28] #683 closed, assigned to nobody

[2021-08-10 00:31] metasoarous opened #1107 "Replace bootstrap-sass"
**Problem**:
We're currently not using much of `bootstrap-sass` and there's concern that it's bloating our bundle unnecessarily, and prompting us to key our eyes on more dependency updates.

**Suggested solution**:
Either replace `bootstrap-sass` with vanilla `bootstrap`.

**Alternative suggestions**:
* We're also still using `bootstrap`; could potentially switch everything over to `bootstrap-sass

[2021-08-10 18:23] metasoarous commented on #1107
This may help with #1106.

[2021-08-10 19:16] patcon commented on #1106
Def support smaller bundlesize, but fwiw the 140 kb bundlesize was just an arbitrary clean number that was just a small amount (10kb ish) larger than what it was earlier. The intent was so that something failed if it jumped too much while updated deps or whatever. (And on the odd occasion that I cleaned up a dep and bundlesize got smaller, I'd reduce the threshold to keep the CI failure similarly

[2021-08-10 23:07] metasoarous commented on #1106
Thanks for providing some additional insight into this @patcon.

@colinmegill I guess we should decide long term whether we want to continue with this, or set a fixed limit that we try to stay within. My inclination is towards the latter so that we don't add additional friction to staying on top of dep updates. That having been said, we can always use this as an opportunity to just go some house-k

[2021-08-11 02:28] patcon commented on #1106
+1 to housekeeping! I feel bundlesize could be a good, user-centric lens to guide streamlining of client-participation :)

[2021-08-11 18:45] metasoarous opened #1111 "Identity managed through `data-xid` should not require cookies"
**Expected behavior**:
Identity managed through `data-xid` should not require cookies to be enabled.

**Actual behavior**:
If cookies are disabled, and `data-xid` is set, errors persist saying that cookies are required.

**Additional context**:
This is from a user report. Need to verify, and ensure that if this is implemented that `data-xid` still works as expected.

[2021-08-13 05:40] metasoarous commented on #964
Hi folks.

After reviewing this issue more carefully, I'm pretty sure that what is going on here is that over the years all of our browsers have begun to default towards disabling third party cookies. The reason the embed works for https://pol.is/embed.html is that both the container page and the iframe which gets loaded by the embed script are running on the same domain (pol.is), and so the cooki

[2021-08-13 11:06] patcon commented on #964
Thanks Chris! Another option, maybe medium term compared to other two, is to offer a minimal template for a lightweight wrapper app that handles auth on some social services with data-xid management. My experience is that, lacking a template for how this works, more than a few people who were self-described as "interested" just kinda drifted away. (e.g. people who's audience/country didn't popular

[2021-08-13 11:07] patcon commented on #964
And thanks for the detailed explanation :)

[2021-08-13 22:34] metasoarous commented on #964
Thanks for suggesting this Pat.

Yes, I think a good example would be very helpful, and will likely get us quite a bit of the way towards the change in default embed script behavior described above. Here's my initial stab at this: https://github.com/compdemocracy/polis-embed-example.

I don't think that basing this example off social login is the right way to go for now, mainly because this will b

[2021-08-30 14:38] patcon commented on #97
Related: https://github.com/compdemocracy/polis-examples/issues/2#issuecomment-907884261

tl;dr - not a fully integrated solution, but as a workaround, added example of how to use any arbitrary auth provider for gating polis convo access (via Auth0 SaaS provider) by using a simple HTML website functioning as a wrapper app around a polis embed :)

[2021-08-30 14:42] patcon commented on #638
Related: https://github.com/compdemocracy/polis-examples/issues/2#issuecomment-907884261

According to this support doc from auth0, CAS (assuming it's using SAML) might be supported through this Auth0 approach to authentication: https://community.auth0.com/t/how-to-connect-to-cas-identity-provider/6247 (I have no experience and can't offer any support except a link... sorry!)

[2021-09-02 20:56] dvagala commented on #964
Thanks @metasoarous for explanation. I confirm it's now working with custom cookie and data-xid attribute :)

[2021-09-03 17:08] metasoarous commented on #964
Great. Thanks for reporting back @dvagala.

I'm going to go ahead and leave this issue open till we fix up the embed script to automate some of this.

Thanks again!

[2021-09-07 14:01] raulsperoni opened #1139 "With data-xid comments don't require social login"
Hi, I've set up a poll with the option "Participants cannot submit comments without first connecting either Facebook or Twitter" checked, but when I set `data-xid` parameter in iframe parent div pol.is submits new comments without requiring social login.

If I remove `data-xid={"hola"}` everything work as expected.

[code]

I tried this with my own pol.is deployment and with the cloud one.

Is thi

[2021-09-07 18:05] metasoarous commented on #1139
Thanks for submitting @raulsperoni.

As written, the functionality of the toggle does not perfectly match it's description. That having been said, I think the intent of the functionality is that some form of identity be required for comment submission, whether via social login or xid. So there's a few ways this could go:
1. clarify the description of the toggle
2. modify the functionality of the t

[2021-09-08 03:02] NewJerseyStyle commented on #507
I saw this (GPT-2 similar) claiming that they can do unsupervised clustering for texts (for Simplified Chinese texts)

https://github.com/TsinghuaAI/CPM

For Traditional Chinese it is possible to convert it to Simplified Chinese character for CPM to process
https://github.com/BYVoid/OpenCC

Wonder if it can work. But do not know if I can download the CPM model, will they say we are "Foreign power"

[2021-09-08 03:04] NewJerseyStyle commented on #507
Hi @colinmegill
I wonder... Are those GPT-3 tags generate automatically without any training/fine-tuning?

[2021-09-09 21:09] raulsperoni commented on #1139
An update on this: If some user answers more than (five? not sure) social login buttons appears below the cards and works. After the redirect (twitter for example) the photo is shown in the visualization, and the comments can be sent as that user.

[2021-09-10 23:20] metasoarous commented on #1139
Yes; It still presents an _option_ to connect social, but it isn't mandatory. Sorry if that wasn't obvious.

Does that more or less solve the issue for you as far as you're concerned?

Thanks

[2021-09-22 23:40] PaulLessard commented on #883
While you may have simply picked one off the shelf without too much investigation, this paper's:

• algorithm; and
• conception of fairness

are pretty solid, and I think it would indeed be a great idea for Pol.is to move towards using this algorithm in place of merely using more common k-means optimization algorithms.

## Fairness of What?

(this section title is cribbed from: Equality of What?:

[2021-09-26 13:07] justicear9 commented on #830
Hi,
I get "Cannot POST /_domainWhitelistError_api/v3/auth/new" when I try signing up. I'm hosting it on a live server at digital ocean. I'm I missing anything?

[2021-09-26 13:40] patcon commented on #830
See https://github.com/compdemocracy/polis/pull/837#issuecomment-927308344

[2021-09-26 14:29] justicear9 opened #1153 "Domain Whitelisting"
I get "Cannot POST /_domainWhitelistError_api/v3/auth/new" when I try signing up. I'm hosting it on a live server at digital ocean. I'm I missing anything?

[2021-09-26 22:20] patcon commented on #1153
Hey @justicear9, thanks for opening your own support ticket :)

I think you'll need to offer more specifics on how you've deployed, how you've customized config files (if at all), and what host you're trying to access through (IP address? custom domain?). Also have you read through the docs?

Last I recall, using the docker compose setup is not supported for things besides local development right

[2021-09-27 11:13] justicear9 commented on #1153
Hi @patcon , Thanks for the support.

I deployed the dev branch and didn't customize config files. I'm running it on a Linux server on digital ocean (http://polis.crowdwisdomproject.org/). I used docker compose on localhost and it worked perfectly, so I tried same on the live server. It worked but I have issues with sign up and login if I don't use the **sslip.io** extension.

[2021-09-27 20:30] patcon commented on #1153
Ah ok, good to know it at least works with the sslip.io dev domains!

You'll need to modify the config files for each part of the app (admin, participation, report, etc). I further consideration, you can see how the demos thinktank customized things to host on a custom domain: https://github.com/compdemocracy/polis/compare/dev...Demos-thinktank:demos-dev (likely more changes that you'd need though

[2021-09-27 20:31] patcon commented on #1153
And def post an update here if you get things working 😃

[2021-09-28 10:56] mschuesslerit opened #1161 "Delete issues"
delete

[2021-09-28 11:33] mschuesslerit commented on #1153
I join this topic. I'm trying to provide an instance on a Linux Ubuntu VM Server with a DNS entry like polis.mydomain.com but i cant find where to change the domains in the ENV Files, i added the local IP to the "polis.config.template.js" Files but with no effect. Still have this same Problem:

![image](https://user-images.githubusercontent.com/91534742/135082953-cba1af29-f2fc-4524-bcd3-a7813494b9

[2021-09-28 14:22] #1161 closed, assigned to nobody

[2021-09-28 14:24] patcon commented on #1161
Heh dup of #1153 :) can't delete, but will close.

[2021-09-28 14:29] patcon commented on #1153
Hi @mschuesslerit! To confirm, self-hosting is advanced and not officially supported right now. The normal recommendation I've heard is to only try if you have a senior developer and a data scientist to support. It's not turn-key

Having said that, can you confirm you inspected the diff linked above. You should be able to see the changes that were required to self-host when demosUK did this. Also,

[2021-09-28 22:07] metasoarous commented on #1153
Thanks for chiming in to help folks @patcon. However, I think you're overstating a bit the lack of support for self-hosting with the current infrastructure; Getting a secure and scalable deployment up right now is certainly not turn-key, but there _are_ deployments running on the current setup. There are some places where development vs production settings are not fully separate yet (e.g. ports op

[2021-09-29 08:46] mschuesslerit commented on #1153
@metasoarous @patcon Thanks a lot for your message here!

I understand thats its not ready for self-hosting and production and not turn-key!

i added the local IP address from the server in `server/src/server.js`: without effect:

let whitelistedDomains = [
    "pol.is",
    process.env.DOMAIN_WHITELIST_ITEM_01,
    process.env.DOMAIN_WHITELIST_ITEM_02,
    process.env.DOMAIN_WHITELIST_ITEM_03,

[2021-09-29 18:58] metasoarous commented on #1153
Are you deploying this for Shoreline Community College? I live just a couple of blocks away! Small world :-)

In any case, I think you may have misunderstood what I was suggesting. You don't need the value of `process.env.DOMAIN_WHITELIST_ITEM_0n` to go into the client side repository config. You need to **set** the value of those environment variables on the **server process**, or the server won'

[2021-09-30 21:49] metasoarous commented on #883
Thanks for your detailed summary and thoughts on this @PaulLessard!

Given that this algorithm requires explicit demographic partition, we need better UI for obtaining this information before we can adopt this methodology. Having people answer a dozen questions like "I identify as Black", "I identify as Asian", etc., as we currently do for participant metadata, is not tenable if the information is

[2021-09-30 22:19] PaulLessard commented on #883
Thanks @metasoarous !

I think it would be very interesting and a worthwhile to look at the dimension reduction methods in UMAP and see if they can be replaced with a demographically equitable variant - I suspect the analogous issue,  demographic concentration of dimension reduction cost pop up at that stage of UMAP. I haven't found anything about it in the literature yet on this, though my search

[2021-10-03 05:43] JacobCWBillings commented on #883
Just jumping into the conversation:

To clarify: You want to cluster over participants wrt their votes for/against a set of comments, correct? But you are finding that outlier opinions are becoming obscured?

Definitely, the preference for maximizing observed variance (i.e. vote counts) under PCA---coupled with looking for exactly "k" clusters---can minimize the recognition of outlier opinions.

Q

[2021-10-03 17:39] metasoarous commented on #883
Hi @JacobCWBillings. Thanks for sharing your thoughts on this!

This issue isn't so much about preserving outlier opinions as it is about finding ways of ensuring that minority demographics are being well represented by the groups they are assigned to. Thus, the modified cost/fitness function takes into account not just the typical k-means criteria of average distance within each cluster to their

[2021-10-03 17:48] jucor commented on #883
:+1: to Chris's answer highlighting the difference between outlier and
socio-demographic minority.
Adding to this, to show the intricacy of the matter:
- collecting sociodemographic data so as to rebalance it is not a decision
to take lightly: the more data you collect, the more risks you take of data
leaks or bad uses.
- there is also not a clear path to reconcile anonymity and data collection
wi

[2021-10-03 18:28] JacobCWBillings commented on #883
Sorry. I'm not getting the context here:

"This issue isn't so much about preserving outlier opinions as it is about finding ways of ensuring that minority demographics are being well represented by the groups they are assigned to."

What are the "groups."

[2021-10-03 19:09] colinmegill commented on #883
Knowledge base refs:
* https://compdemocracy.org/Representative-Comments/
* https://compdemocracy.org/Representativeness/
* https://compdemocracy.org/opinion-groups/

[2021-10-04 03:41] JacobCWBillings commented on #883
Right.

You know, it's interesting that much of this discussion centers around the notion of fair representation. To me, this means that the analysis should discover patterns that best reflect the inherent structure of the data.

Regarding clustering, if the data do not exist as clusters (especially as exactly k clusters), then pushing the data to assume such a format imposes implicit biases that

[2021-10-05 00:28] metasoarous commented on #883
@jucor You're absolutely right about the anonymity concerns here. It's also entirely possible that some groups being more concerned about this information than others could skew participation. This _might_ be mitigated by explaining how/why this data is used (to ensure marginalized populations are well represented in the resulting opinion groups), but this comes with some cost as well. _Much_ to c

[2021-10-14 18:59] metasoarous opened #1170 "Consider fully qualifying image names in docker-compose files"
As @willcohen pointed out in #1135, he made a pass of fully qualifying image names due to a requirement that podman had at the time that this be done. Podman has since rolled back this requirement in order to maintain broader compatibility with extant docker-compose files, and I think for now we're going to merge #1135 without the qualification, since I don't have a full grasp of all the implicati

[2021-10-24 17:29] metasoarous opened #1181 "Export should require specifying a conversation id or user."
**Problem**:
When `clj -M:run export` is run without either `-z`, `-Z` or `-u` the program spits out an empty export file (this issue came up in discussion question #1180).

**Suggested solution**:
The program should make sure that one of these options is present, and print an error message if not.

[2021-11-01 13:48] raulsperoni opened #1198 "Graph Visualization not appearing in Iphone devices"
Hi! I'm facing this problem with the visualization on Iphone devices:

**Expected behavior**:
Tha graph in the inferior part of the site should appear for all users.

**Actual behavior**:
The graph is not showing in iphone devices, tested: Safari, Chrome on Iphone devices

**To Reproduce**:
Go to: https://pol.is/4dfnw4r9th from iphone device.

**Device information**:
Iphone 6, 7, 11

**Additional

[2021-11-03 03:10] patcon commented on #1198
I don't have an iPhone to check, but just wanted to chime in to say that you're awesome for reporting :)

[2021-11-12 05:28] colinmegill opened #1201 "Assess polis using wisdom of crowd vs groupthink lens"
https://twitter.com/jennifernvictor/status/1458853741994692608

[2021-11-15 14:51] crkrenn opened #1210 "problem building `dev` on mac silicon ("pull access denied" or "insufficient_scope: authorization failed")"
**Expected behavior**:
`docker compose pull` or `docker-compose up --build` should work without much configuration.

**Actual behavior**:
[code]

and

[code]

**To Reproduce**:
[code]
or
[code]

**Screenshots**:
NA

**Device information**:
OS X 11.6; Mac Silicon; Docker Desktop 4.2.0 (70708)

**Additional context**:
Using default `dev` branch.

[2021-11-15 14:52] crkrenn commented on #1210
I googled the errors, but did not find much of use. I will try building on Digital Ocean later, but I would like to be able to develop on my laptop if possible. Thanks! -Chris

[2021-11-19 23:13] JacobCWBillings commented on #883
Reading the paper: it and the online documentation seem consistent. And so, my position remains much the same.

I applaud what you all have so far accomplished, but I am concerned about what is lost when trying to, metaphorically, "paint reality in black and white."

But this is a problem of pattern recognition, broadly. Patterns, by definition, blur the details of a system to resolve some subset

[2021-11-21 01:56] colinmegill commented on #217
@jucor I finally have an answer here :) DeepNote is really nice.

[2021-11-21 21:58] jucor commented on #217
Oh you do?? Answer as in:
- method to compute it importance, or
- user-based definition of importance, or
- "Does pol.is have a preferred one that supports equations? " -> yes and it's Deepnote :)

[2021-11-27 17:11] raulsperoni commented on #1198
Hi!

So, found the issue. It was a very specific condition in `client-participation/js/views/participation.js` line 198:

    ctx.no_vis = !Utils.userCanSeeVis() ||
          ctx.vis_type === Constants.VIS_TYPE.OFF ||
          (ctx.vis_type === Constants.VIS_TYPE.PCA && Utils.isIphone());

we removed the last part, and it's working now.

[2021-11-28 02:23] patcon commented on #1198
Nice! Thanks @raulsperoni!

Direct link:

https://github.com/compdemocracy/polis/blob/8010acf1c9669276bfccf28b7fa6e6baf3372787/client-participation/js/views/participation.js#L196-L198

`isIphone` helper function originally added for CSS fixed (related to screen width) in 2014:
https://github.com/compdemocracy/polis/commit/a9e0138849f9628f8b7e090785793521fd9a6d4f

Added to condition that hid visual

[2021-11-28 02:35] patcon commented on #1198
Seem to work well in Chrome devtools device emulation of iphone 5, when viewing https://pol.is/4yy3sh84js

<img width="506" alt="Screen Shot 2021-11-27 at 9 33 07 PM" src="https://user-images.githubusercontent.com/305339/143726636-94f9d173-8471-4131-8970-cf7f179437b8.png">

(i had to refresh when emulating a non-iphone device, then switch to iphone using selector, so that viz was loaded from curre

[2021-11-28 02:36] patcon commented on #1198
Would you mind prepping a pull request @raulsperoni, so we're all set to go if it's seen as an easy merge? :)

[2021-11-28 02:39] raulsperoni commented on #1198
Sure, will do!

El sáb, 27 de nov. de 2021 23:37, Patrick Connolly ***@***.***>
escribió:

[2021-11-28 19:59] #1198 closed, assigned to nobody

[2021-12-02 19:02] #74 closed

[2021-12-02 20:38] metasoarous commented on #717
Hey Pat; Can you please comment further on how this relates to our Cypress setup? I thought Cypress was _already_ doing visual integration testing? Am I misunderstanding or does this do something different/more specific? Thanks.

[2021-12-02 20:49] metasoarous commented on #457
Hey Pat; Thanks for posting this, but after consideration, I'm closing. I think if there's something important enough to point to, we'll fork, put under our org, and point to it there. If there's anything you feel we should do this with, please open up a separate issue per case.

Thanks again!

[2021-12-02 20:49] #457 closed

[2021-12-02 20:52] patcon commented on #1107
Ok, so going to summarize here what I learned while trying to get rid of one of these.

- we are currently using the latest for `bootstrap@3.4.1`, the latest v3
- `bootstrap` v3 compiled from LESS, rather than SASS, and so `bootstrap-sass` was required for customizing low-level theming with sass, like polis was doing
- in `bootstrap` v4, SASS is used, so `bootstrap-sass` was no longer required
- `

[2021-12-02 21:03] patcon commented on #457
Sounds good! Thanks for explaining on close :)

[2021-12-02 21:06] patcon commented on #717
Good call. Cypress is e2e testing, which tests functionality based on dom selectors, telling something about whether features broke.

Visual testing is to catch when CSS changes and layouts move around.

Different use-cases, and both healthy practices, though e2e testing is def more important.

So it's feature testing vs layout testing :)

EDIT: A tool like cypress (or puppeteer or webdriver etc)

[2021-12-02 21:30] metasoarous commented on #717
I see; Thanks for the clarification. That makes sense.

I think this makes sense for the participation interface, but is probably overkill for admin & report.

[2021-12-02 23:21] patcon commented on #717
Agreed, no prob

Related to visual testing of client-participation viz: In the kitchensink e2e test, we fake enough votes to render the viz. I recall that sometimes the hulls are drawn differently, even though the votes registered *should* \* always be the same. If the test waits for math component to catch up on processing, should the the hulls be drawn consistently from one test conversation to

[2021-12-03 00:24] patcon opened #1226 "Improve "kitchensink" e2e test: confirm that key SVG elements are actually present"
Re-ticketed from https://github.com/compdemocracy/polis/pull/1225#issuecomment-985106389

The Cypress end-to-end tests include a "kitchensink" test that is the only test to submit enough fake votes to generate the visualization. Here is the relevant code that checks:

https://github.com/compdemocracy/polis/blob/af475d7c7a54b1bd516721a5417db211c2ec6318/e2e/cypress/integration/polis/client-participa

[2021-12-03 05:49] #450 closed

[2021-12-03 05:54] metasoarous commented on #321
I'm not sure that I really understand this issue, but I see that it was considered high-priority. Is this still an issue?

[2021-12-03 06:14] patcon commented on #321
This is definitely resolved now, though not sure if was our doing. Glad to close!

[2021-12-03 06:14] #321 closed

[2021-12-03 20:52] patcon opened #1230 "Run e2e tests across more hostname conditions: http/https and localhost/ip/domain"
Re-ticketed from https://github.com/compdemocracy/polis/pull/1228

Currently, we are running the e2e tests in CI using the default `polis.config.template.js`:

https://github.com/compdemocracy/polis/blob/af475d7c7a54b1bd516721a5417db211c2ec6318/client-participation/polis.config.template.js#L21

I've just realized that while running local e2e tests using variations on this, things fail without some

[2021-12-04 00:18] #1226 closed, assigned to nobody

[2021-12-04 21:03] patcon commented on #263
Now that typescript conversion is on its way to being done, I've started working on removing some unused features.

After looking over the required changes, the easiest removals (and proper order) seems to be:
1. remove intercom https://github.com/compdemocracy/polis/pull/1233
2. remove slack https://github.com/compdemocracy/polis/pull/1234
3. remove stripe (incl plans/coupons) https://github.com/

[2021-12-06 23:06] patcon commented on #90
Migrating gulp => webpack in https://github.com/compdemocracy/polis/pull/1242

(@metasoarous if you could link that issue into the top-level issue checklist, that'd be rad 🙏 )

[2021-12-08 00:46] metasoarous commented on #411
I'm hoping it will be possible to avoid having any dev artifacts baked into any public docker images, and put anything that needs to function differently in the `docker-compose.dev.yml` overlay (different `cmd/entrypoint`, etc).

Our plan right now is to have `edge` and `stable` releases available. My concern with a `dev` release is that I don't want folks accidentally deploying them into copy pas

[2021-12-08 01:01] metasoarous commented on #403
Actually not sure how to; Where is this connected/running?

[2021-12-08 01:53] patcon commented on #411
Yeah, it's been awhile since I wrote that, and I think I now agree that a `dev` tag has no need to be in public image repo.

I recall the rationale Bennie won me over with was that we do this in the interest of quickly seeing a successful local instance, but that rapid result can happen with a prod build. If someone wants to develop and inspect unminified JS in the console, I think it's fair they'

[2021-12-08 02:03] patcon commented on #403
What are you seeing through that link? I'm seeing a "configure access" link, which allows me to revoke org access (for a diff org I'm owner on). Should be on that page. And if not, poke around org github apps or oauth apps, I'm guessing (maybe it was disabled already)

[2021-12-09 06:07] metasoarous commented on #403
I don't see what you're describing. However, I'm not sure if this is still a problem. We haven't had a Snyk PR in almost a year, I think. Has this already been removed?

I'm going to close for now, but please feel free to reopen if there's something I'm missing.

Thanks

[2021-12-09 06:07] #403 closed

[2021-12-09 06:31] metasoarous commented on #411
That makes sense. For now, let's stick with production builds only. If the startup seems problematic, we can re-evaluate.

Thanks

[2021-12-09 06:31] #411 closed

[2021-12-16 02:01] OrionSmedley commented on #1094
Hi @colinmegill,

I see what you mean about the mass mailing thing.

It's just that, as is, there's a certain barrier to entry to use Pol.is.
In settings like a small club, there might not be a programmer to use  `data-xid`.

Now, even without programmer, Pol.is is otherwise easy to use.
It's just that in order to have names attached, it requires people to use Facebook (something many people don't

[2021-12-16 03:16] patcon commented on #1094
+1 to @colinmegill's point of not giving moderators access to email contacts

+1 to the @ionsme's idea of custom usernames for participants without connected social accounts (no strong opinion on whether this should require a new email login method, or rather apply to existing cookie-based usage)

I agree that identifying and orienting around peers in the live visualization is part of what makes p

[2021-12-29 02:24] spiraloid opened #1259 "Dark Mode Please"
**Problem**:
My eyes.  they burn.

**Suggested solution**:
Dark mode like github for those of us who work in the dark.

**Alternative suggestions**:
Invert monitor colors while playing dial tone at full volume.

**Additional context**:
what kind of madman uses white background for everything!

[2021-12-29 02:32] spiraloid opened #1260 "need edit poll questions in place on the moderate interface"
**Problem**:
I need a faster way to to wordsmith the questions to fix typos etc.

**Suggested solution**:
 I should have an update button that rejects and remakes the question in place without forcing me to have to go revisit the configuration section every time.

**Alternative suggestions**:
administrators should have an "edit"  button that lets me reject and add a new question in context without

[2021-12-29 02:34] spiraloid opened #1261 "Polls should have an image"
**Problem**:
when sharing the poll on social media, I have no way to replace polis logo image with my own image.

**Suggested solution**:
I should be able to load my own 512x512px JPG w my poll so that when I share on social media it gets used

**Additional context**:
behold.  images.

[2021-12-29 02:41] spiraloid opened #1262 "need URL for poll."
**Problem**:
url's aren't turned into clickable links.

**Suggested solution**:
make http://3dcomic.shop  into a link on the poll.\

**Additional context**:
see dead link url here.

https://pol.is/6aznnm3f97

[2021-12-29 05:08] patcon commented on #1260
Nice! Related: https://github.com/compdemocracy/polis/issues/297#issuecomment-745702672 & https://github.com/compdemocracy/polis/issues/879

That existing one was originally for the moderator interface, but moderators seeing something in "participation" interface sounds helpful too :)

Also, yes. Or [Brylcreem](https://youtu.be/o6F4GtyRfto), which I understand to be a weird 1930s leetspeak precurs

[2021-12-29 05:30] patcon commented on #1262
We're using a hella-old package called `markdown` that hasn't been updated since 2012 (see: Arab Spring, BENGHAZI, and a new little fella named Xi Jinping). Any modern markdown lib should give this for free :)

Related: https://github.com/compdemocracy/polis/issues/116 (not dup)

If you've got spacetime to contribute this, it's likely pretty approachable and I'd be stoked to walk you through what

[2021-12-29 19:14] metasoarous commented on #1260
Are you a Dapper Dan man?

[2022-01-01 19:50] patcon opened #1266 "Bugfix: console and server log error when cache miss in math worker"
**Expected behavior**:
No errors in server logs and console on client-participation page/

**Actual behavior**:
Seeing errors in server log and console after #1232 was merged, due to addition of this line:

https://github.com/compdemocracy/polis/blame/dev/server/src/server.ts#L2059

when it was already declared in the scope above the function, for "caching" (messy, but worked):

https://github.com

[2022-01-03 19:20] patcon commented on #960
Do we want to close this? Or we could add a checklist to the body of the initial comment to track all the steps for typescript conversion?

EDIT: And if closing, do we spin out tasks from @colinmegill's comment above: https://github.com/compdemocracy/polis/issues/960#issuecomment-820028778

[2022-01-03 19:46] colinmegill commented on #960
Closing as we've made progress. As a next discussion topic, we would want to create a list of high priority types to add to https://github.com/compdemocracy/polis/blob/dev/server/src/d.ts in our next pass at typing

[2022-01-03 19:46] #960 closed, assigned to nobody

[2022-01-03 20:28] patcon opened #1273 "RFC[server]: Add simple express middleware to start migrating toward cleaner API param strategies"
**Problem**:
Currently, our API `server` code does two notable and unique things:
  1. copies all values from `req.params` (path params), and `req.query` (url querystrings) to `req.body` (normally just POSTed form/json data), so that later middleware only needs to check in one place, and
  2. further migrates important values (sometimes with processing) to a more limited namespace of `req.p` where

[2022-01-07 18:10] crkrenn commented on #242
@metasoarous & @patcon,

I'm glad that this issue made it onto the [Polis Development Priority list](https://github.com/compdemocracy/polis/projects/1#card-74461027)!

FYI, I've asked @tamas-soos-toptal to look into adding a "quit for now" button as a globally configurable option for deployment. We plan to open a pull request if progress is good. Depending on what you and others think, we could al

[2022-01-07 18:52] patcon commented on #242
Cool! I know that in the past @colinmegill has advocated collaborating on mockups (ie. sharing them in issue queue) before any visual work was attempted, to make sure the interaction was aligned. I know that simple interaction is really important to the team, so I'd recommend starting there before building too much. Just sketches on paper would be a great way to communicate, nothing fancy :)

Also

[2022-01-08 19:29] RichardJActon commented on #497
This would be very useful for creating a polis consultation for an existing list of expressed sentiments that you want to determine categories for.

[2022-01-08 22:56] Nathanpmyoung commented on #497
I missed the comments on this, but at the time I wanted to add a load of statements at once, in the 10s. I guess I'd happily have submitted via CSV.

[2022-01-09 04:15] OrionSmedley commented on #1094
@colinmegill Thoughts? Is it worth re-opening this request?

[2022-01-09 05:42] patcon commented on #1094
To clarify, am I understanding that this request is for a Polis "sign-in account" for participants, so that their nickname (and avatar?) can optionally show up on cards beside their submitted statements?

As it stands, the only place a name would surface is in this way, with avatars additionally showing in the viz.

[2022-01-10 12:34] OrionSmedley commented on #1094
Yup that's right.

On Sat, Jan 8, 2022 at 9:43 PM Patrick Connolly ***@***.***>
wrote:

[2022-01-10 20:53] metasoarous commented on #1094
Hi @ionsme; Thanks for your suggestions here.

Unfortunately, I think we're unlikely to accommodate this, at least any time in the near term. I'll explain why, and then suggest a possibly workaround for your consideration/feedback.

I can absolutely see how you would want a feature like this, coming from your position as a member of a small club. However, while we love seeing diverse applications

[2022-01-12 14:24] crkrenn commented on #242
This is definitely related to https://github.com/compdemocracy/polis/issues/766, but we are proposing a more focused solution.

Below are mockups for the voting cards for web and mobile.

Our current idea is to put a "quit for now" "button" next to, but separated from, the "agree/disagree/pass" buttons. On the web, this could be on the same line. On mobile, it probably needs to be on a second line

[2022-01-13 01:04] andxblack commented on #1210
I'm also having the same issue, but with Mac Intel
**Device information:**
OS X 12.1; Mac Intel; Docker Desktop 4.3.2 (72729)

[2022-01-13 01:22] patcon commented on #1210
@andxblack Ah, I think this is because the docker nightly builds haven't been set up since I transferred the dockerhub account back to @compdemocracy. So `docker-compose pull` commands won't work. Subscribe here for the eventual fix #1246

But the good news is that you can just use `docker-compose up --build --detach`. It will take a bit longer, since it's building the containers instead of pullin

[2022-01-13 02:16] andxblack commented on #1210
@patcon You're correct, it is a slightly different error. The above fix still doesn't seem to work though.

[code]

[2022-01-13 04:10] patcon commented on #1210
Oooooooh. Shit ok, I totally get what this is. It's an issue with building `file-server`, because it's dockerfile extracts files from existing container images. And the first time, and those images for client-admin, client-participation and client-report don't yet exist..! (@crkrenn, this is that weird thing I was talking about in https://github.com/compdemocracy/polis/pull/1277#issuecomment-10111

[2022-01-13 04:23] patcon commented on #1210
@andxblack Lemme know if that works :) And if it does, if you feel like making a first contribution: a pull request to fix up the README and remove mention of `docker-compose pull` would be supremely appreciated. But no pressure!

[2022-01-13 09:14] andxblack commented on #1210
Thanks @patcon that works. Will fix up the readme tomorrow.

[2022-01-14 00:42] andxblack opened #1279 "math worker crashes when run in dev mode"
**Expected behavior**:
Spin up the dev environment using docker-compose and connect to the math worker nREPL as described in [math/readme.md](https://github.com/compdemocracy/polis/blob/dev/math/README.md)

**Actual behavior**:
polis-math starts up, but exits after about a minute.

[code]

**To Reproduce**:
`docker-compose -f docker-compose.yml -f docker-compose.dev.yml up`

**Device information**

[2022-01-14 04:02] patcon commented on #1279
Thanks again @andxblack

I've never done development on math (nor have I used the dev compose file), but I'm seeing that @metasoarous added it in July and should have more context :)

[2022-01-14 07:49] patcon commented on #1279
Confirmed I'm seeing the same thing.

Logs with docker-compose.dev.yml file and regular compose file both start with:

[code]

Oddly, when trying to start following the logs with `docker-compose logs --follow math`, it takes way longer to attach with the docker-compose.dev.yml logs compared to the non-dev one. Not sure what's wrong, so i'll leave it to chris

[2022-01-15 15:55] crkrenn commented on #1210
Woo Hoo!

[code]
Worked.

[2022-01-15 18:35] crkrenn commented on #497
+1

[2022-01-19 19:52] avivo opened #1289 "Restricting clustering to 2-5 groups impacts group aware/informed consensus and comment routing"
**Problem**:
Polis currently sets k for k-means to 2-5 groups and chooses the best k using silhouette coefficient to determine opinion groups.
This was chosen for explainability and visualization benefits (from convo  w/@colinmegill), which makes sense.
However, it also impacts other key components including _group informed consensus_ and _comment routing_.
These components may impact the strength

[2022-01-19 21:50] metasoarous commented on #1289
@avivo Thanks so much for jotting this down.

I've been thinking about this quite a bit actually, and am increasingly interested in looking at the problem through the lens of Topological Data Analysis, which lets us (to quote from the Wikipedia page):

Coming at things from this topological perspective may prove useful in tailoring the mechanics of clustering algorithms like UMAP towards our domai

[2022-01-20 02:42] OrionSmedley commented on #1094
No problem, I understand.

On Mon, Jan 10, 2022 at 12:53 PM Christopher Small ***@***.***>
wrote:

[2022-01-20 05:27] colinmegill commented on #1094
I think it's more likely we would move completely to xid + anon than any
other outcome

On Wed, Jan 19, 2022, 6:42 PM ionsme ***@***.***> wrote:

[2022-01-20 14:23] patcon commented on #1094
Seeing one's social network in the viz feels important, and I'm unclear how that could be preserved with only anon+xid. Could it be?

As context: Existing large-scale gov feedback processes all anonymize participants, and Polis _not_ doing that feels like a big differentiator. To me, the different experience is akin to walking into a 5-person convo with 1-2 people you know, vs doing so into a 5-pe

[2022-01-20 20:28] patcon commented on #207
Andy Paice of MutualGain raised a question in the user group discord:

![image](https://user-images.githubusercontent.com/305339/150416435-621fedc0-00ad-4ce5-8cc1-7f56485b9258.png)

Does this 100 comment limit come into play on "Accepted" and "Rejected" tabs as well?

[2022-01-20 20:39] colinmegill commented on #1094
See: https://github.com/compdemocracy/polis/blob/dev/client-participation/api/embed.js#L44

[2022-01-20 21:06] patcon commented on #1094
That just passed in images, but this needs a network graph, right? I'm understanding this would lose the ability to surface faces that the participant knows.

Personal feelings I'm bringing to this: In my first pilot project, a formative experience of Polis was being surprised to see my sister's face inside a cluster other than my own. I was immediately drawn to explore her group and understand it

[2022-01-22 22:22] avivo commented on #1289
I'm not familiar with TDA, so I can't comment on details of that choice without a lot more digging right now, but curious to learn more.

That said, a few more thoughts on this:
1) I think it would likely be helpful to both qualitatively and formally describe what one is optimizing in choosing such an algorithm. Does such a description/formalism already exist? I had started some work toward someth

[2022-01-23 03:45] catproof opened #1290 "Website links to the wrong github"
Hi there,

On [your website](https://pol.is/home) it seems like the wrong github is linked. Under the 'Contribute' heading on your website it brings you to [here](https://github.com/pol-is/), instead of to [here](https://github.com/compdemocracy/polis)

[2022-01-23 04:19] patcon commented on #1290
Thanks Nick!

Looks like the code is up-to-date, but there just hasn't been a deploy in awhile: https://github.com/compdemocracy/polis/blame/dev/client-admin/src/components/landers/home.js#L49

I'm just an outside fan like yourself, but I've contributed a bit and knew where to check :)

[2022-01-23 04:21] patcon commented on #1290
But if you see anything else or have questions, pls do open an issue or a discussion (more people poking around the codebase and thinking about Polis is definitely good for the civic tech ecosystem :)

[2022-01-26 07:21] colinmegill commented on #507
https://twitter.com/gdb/status/1486049720237629440

https://openai.com/blog/introducing-text-and-code-embeddings/

[2022-01-31 19:27] patcon opened #1300 "Make exposed ports more configurable (docker, podman)"
Re-ticketed from https://codetales.io/blog/three-underutilized-docker-compose-features

**Problem**:
Our docker-compose file hardcodes exposed ports. These might conflict with something locally, or be inappropriate for some tools.

**Suggested solution**:
1. Allow overridable defaults (see [tutorial](https://codetales.io/blog/three-underutilized-docker-compose-features)), or
2. use docker's epheme

[2022-01-31 19:54] willcohen commented on #1300
As a piece of feedback going in -- I ran into this when initially running through podman stuff, so yes, generally in favor.

As a final note, the one big issue still outstanding with podman on Mac is that the dev workflow can't mount a directory transparently. Still working on getting stuff https://github.com/NixOS/nixpkgs/pull/122420 upstreamed to QEMU (this really is a rabbit hole I didn't expec

[2022-01-31 22:21] alexrandaccio commented on #178
Hey team--I was wondering if there's any documentation about how to generate a report url by manually sending a GET request to the reports api (e.g. via curl)

I am using embed to dynamically generate conversations, and would like to dynamically access the report url as well. Wondering if someone has tried this already and can tell me if it is possible. And if it is, then how to correctly configur

[2022-02-03 01:46] metasoarous commented on #281
I'm going to close this, but please feel free to open new issues or PRs specifically focused on improving the documentation around infrastructure for OSS deployments. Thanks.

[2022-02-03 01:46] #281 closed

[2022-02-05 22:49] michrome commented on #964
For anyone looking for a quick workaround…

Instead of this:

[code]

Use this:

[code]

Make sure you replace both `YOUR_CONVERSATION_ID_HERE` and `YOUR_DOMAIN_HERE`.

[2022-02-07 09:06] colinmegill commented on #507
https://towardsdatascience.com/use-cases-of-googles-universal-sentence-encoder-in-production-dd5aaab4fc15#:~:text=The%20Universal%20Sentence%20Encoder%20encodes,and%20other%20natural%20language%20tasks.&text=It%20comes%20with%20two%20variations,Deep%20Averaging%20Network%20(DAN).

[2022-02-07 09:07] colinmegill commented on #507
https://www.tensorflow.org/hub/tutorials/semantic_similarity_with_tf_hub_universal_encoder

[code]

![image](https://user-images.githubusercontent.com/1770265/152757906-a63a7300-942b-49d8-8da2-700655d41afa.png)

[2022-02-07 09:09] colinmegill commented on #507
https://twitter.com/Nils_Reimers/status/1487014195568775173

[2022-02-07 15:29] paul-hammant opened #1304 "Add audibility of the DB via a history retaining merkle tree (option)"
**Problem**:

The "at rest" side of the data in Postgres would be even better if it could pass a "not tampered with" audit.

**Suggested solution**:

History-retaining merkle tree features are added to the scheme. For each write hashing of rows is performed too, and then merkle-tree style, and percolated back to a root node, As these happen, hashes of the previous historical root node's hash are i

[2022-02-07 16:15] NewJerseyStyle commented on #507
Wonder why GPT-3 do encoding things, isn't it the "Decoder" part of a transformer?
I would use BERT things to do encoding as they are the "Encoder" part of a transformer.
(They both train with a full transformer but keep different part as outcome if I understand correctly)

[2022-02-08 11:16] pluby commented on #896
@patcon The application does not terminate as such but instead it logs the error, then keeps running with the broken socket and does not respond to further requests. It's unclear why the process does not terminate but perhaps the use of `setInterval` and long `setTimeout` calls is related. As the process does not terminate, application supervisors (like docker) don't know to restart it.

I'd like

[2022-02-09 06:55] patcon commented on #896
No objection from me, but to be clear, I don't have merge access directly. I can't imagine the polis team would have issue so long as the solution is scoped and as minimal as feasible :) Feel free to talk it out loud here

[2022-02-09 23:01] colinmegill commented on #507
https://www.kaggle.com/kirankunapuli/universalsentenceencoderlarge5

because of its license, performance, size

[2022-02-09 23:14] metasoarous commented on #507
What I've been thinking about in relation to this: We currently weigh 100 comments about a particular topic within a conversation the same as 100 comments on totally different (sub)topics of said conversation. This doesn't seem quite right, and poses a target for manipulation/biasing of the results towards a particular set of dimensions. If we were taking into account semantic similarity between c

[2022-02-10 00:02] patcon commented on #507
+1. Also, less room for skepticism. Democracy and delib assembly works is many way because it's [seems] mostly simple/comprehensible (right or wrong) -- it's counting or talking. Even the simple dimensional reduction of PCA has come up many times in casual discussion (with regular people about polis) as something they worry is too complex to depend on. I imagine that more complex roles for the bla

[2022-02-10 04:53] colinmegill commented on #507
I expect that polis will evaluate every major category of machine learning advancement as the field unfolds to consider how each might be applied making meaning of voices, but as the platform's core values include consistency, audit-ability and interpretability (much more work to do on interpretability, and expect that to be the case ongoing), I would expect anything deep learning related, like la

[2022-02-10 07:18] NewJerseyStyle commented on #507
From a technical perspective, Universal Sentence Encoder (USE) and BERT are great, both including the encoder part of transformer I think that explains why they are better on encoding strings with smaller size in comparing to GPT.

I have read through the paper comparing different sentence encoding model: http://ceur-ws.org/Vol-2431/paper2.pdf
USE seem to be as good as BERT. In the paper there is

[2022-02-10 07:23] NewJerseyStyle commented on #507
However, in the view of a product. It is true that for people who aware of this data collection may question about privacy and robustness.
Human do afraid of things they do not understand.

I do understand so I am open to it. But I am not sure about others.

And for R&D. I saw this machine learning package. It seems interesting.
https://microsoft.github.io/FLAML/
https://microsoft.github.io/FLAML/

[2022-02-10 22:19] metasoarous commented on #1259
Hi @spiraloid. Thanks for making this suggestion.

Are you specifically suggesting these changes for the participation interface, or one of the admin/report interfaces?

[2022-02-10 23:42] metasoarous commented on #507
I suppose we should just go back to using Survey Monkey then? :wink:

Seriously though, we're well past the point of "let's not put things in the system that the average person isn't familiar with or doesn't understand". If people want deliberative bodies without tech, they can do traditional citizen assemblies. Polis' explicit goal is scalable deliberation, and there's no way to get there without

[2022-02-10 23:54] metasoarous commented on #507
@NewJerseyStyle Thanks for your thoughts on this.

That's good to know, and matches what I've seen in a lot of the topic modelling results. Thankfully though, we have participant votes which we can use to sort out valence ("side" of the topic) :slightly_smiling_face:

If you are already computing the covariance matrix to do PCA, you could use this to tell, for any given pair of semantically simila

[2022-02-11 02:37] NewJerseyStyle commented on #507
@metasoarous<https://github.com/metasoarous> I have some thoughts about the scalable deliberation.

I have been thinking about it for sometime during the social movements in Hong Kong. I found that many comments we made online only express our feelings. In other words, most of the comments were redundant.

My question is then, how can we distil information in a way that people can see the meaningf

[2022-02-19 22:03] patcon commented on #458
@colinmegill in https://github.com/compdemocracy/polis/discussions/1315#discussioncomment-2200926

[2022-02-22 20:51] metasoarous commented on #458
Thanks for putting together this issue @patcon.

@raulsperoni - Please feel free to submit a pull request if this is something you'd like to work on, and let us know if you have any questions about how to approach it.

[2022-02-24 17:07] ngathan opened #1324 "Polis website is down"
Polis website is down. I am running two different projects, and cannot access report. When should I expect the website to be back up again? Is there any possible loss of data that I should be wary of?

[2022-02-24 17:08] ngathan commented on #1324
Polis website is down. I am running two different projects, and cannot access report. When should I expect the website to be back up again? Is there any possible loss of data that I should be wary of?

[2022-02-24 23:15] metasoarous commented on #1324
Hi @ngathan; Thanks for notifying us of this.

The website appears to be functioning fine, as far as I can tell. If it's just the report is not loading for this conversation, it could be either that there is not enough data for that conversation yet, or that there is an issue with the report not being able to load the math results. If you let me know the conversation and report urls (here or via e

[2022-02-25 00:11] ngathan commented on #1324
@metasoarous: I can access the report now. Thanks so much!

[2022-02-25 01:29] metasoarous commented on #1324
Great to hear! Thanks for letting us know.

[2022-02-25 01:29] #1324 closed, assigned to nobody

[2022-02-26 03:39] patcon opened #1326 "Visually indicate own vote in viz while exploring significant statements (re: blue ring)"
**Problem**:
When visually scanning through surfaced statements below the visualization, it is not easy to see at a glance whether I voted _with_ or _against_ opinion groups (for which comparison might be particularly interesting in relation to the group that I fall within).

| Screenshot |
|---|
| <img width="639" alt="Screen Shot 2022-02-25 at 10 16 10 PM" src="https://user-images.githubusercont

[2022-03-01 04:37] PaulLessard commented on #1289
There's a lot to chew on here, and it's taken me a long time to figure out what I think should be said. This is a terrain where it's really easy to start by writing a comment and find yourself hours later writing an introduction to a paper where the research hasn't been done yet. As such, narrowing scope, I want to try and second @metasoarous assessment that topological tools are the right ones fo

[2022-03-03 20:46] metasoarous commented on #555
Just wanted to chime in that we've been making some progress on splitting out development concerns into a `docker-compose.dev.yml` file, and also have a `docker-compose.debug.yml` file from the typescript branch with some debugging utilities which should get merged into the `.dev.yml` as well.

I think it's a little up for debate whether running `docker-compose` (or now `docker compose`) should de

[2022-03-03 21:07] metasoarous commented on #583
To be clear, the repo itself _is_ production ready (it's already in production in multiple instances around the world). We're even using the Docker infrastructure in production ourselves now. It's really just not the docker-compose infrastructure which is not currently safe for production as it stands. Certainly though, this all implies that deployment is not yet turnkey.

FWIW, I just wrote an ex

[2022-03-04 13:57] patcon commented on #555
Sounds right to me! Wondering if maybe this new assumption could kick in when we get to the point where we remove/update that disclaimer (with all the scary stuff about production not being supported) 🤔

[2022-03-04 22:17] metasoarous commented on #555
:+1: Great

For what it's worth, I had already updated the disclaimer some time back to point out that the docker (sans-compose) infrastructure should be fine to use in production with some care. So the language here has already been softened somewhat. But to confirm: yes, once the main `docker-compose.yml` is approved for production deployments, we can update the README to reflect these new assum

[2022-03-14 23:41] jbaxter commented on #1289
Love this idea @avivo! I, too, am excited by approaches that wouldn't require clustering at all, rather than approaches to automatically pick the number of clusters. I believe that visualization tools like UMAP already visualize the data perfectly well (assuming we have vector representations of viewpoints) without needing hard clusterings overlaid, and I believe that there are good continuous sol

[2022-03-15 19:44] avivo commented on #1289
@jbaxter that's very exciting! I can see a huge amount of overlap, completely agree.

I also want to make explicit out one of the properties that is interesting for some applications but maybe less so for others to ensure that it is kept in mind by me and others: that the visualization and model in general may be trying to support a "incentivization of bridging" (aka " gamification of consensus")

[2022-03-23 19:53] daveey opened #1350 "Cookies not being properly handled for embedded conversations"
I'm running an embedded polis conversation on https://sfvoices.org and state handling appears to be broken

**Expected behavior**:

User visits https://sfvoices.org and answers a few questions. Hits reload, and expects fewer remaining questions.

**Actual behavior**:

After hitting reload, the state is fully reset, and the user is asked to answer the same questions again

**To Reproduce**:

Visit

[2022-03-24 21:58] daveey opened #1351 "Support conversation groups"
**Problem**:

Sometimes a conversation can start out broad, and then split into sub-conversations. Currently this would require that moderators create new conversations, and ask users to re-vote on statements. It also means that group affinity is not preserved across the conversations.

**Suggested solution**:

I can imagine two possible solutions, but am not familiar with the code to know which o

[2022-03-26 00:40] metasoarous opened #1352 "Add load balancer to production docker-compose.yml toplogy"
**Problem**:
Right now the `docker-compose.yml` only runs a single server, which is fine for small deployments, but will rapidly fall on its face for large/very-active conversations, or for running lots of conversations at once.

**Suggested solution**:
Add a load-balancer layer to the `docker-compose.yml` which can distribute requests to any number of server node instances.

**Alternative suggest

[2022-03-30 15:38] willcohen commented on #763
As a stopgap, given that there's a lot of other pieces that need to happen to finish this item, could a note could be placed on the email sign up card clarifying that emails are currently disabled? This is the biggest friction point I'm currently observing when trying to run a conversation, that people are getting frustrated when they find that the emails aren't being sent as promised.

[2022-04-03 15:25] willcohen commented on #559
To date, the workaround I've been using here has been to fully extract all of the title intro description text out of the conversation config, and instead place it on a different page that can handle multiple languages, limiting the conversation embed's context as much as possible to reflect just the statement interface. There is a little bit of friction here if, for example, the embedding page us

[2022-04-04 19:35] daveey commented on #1350
I believe the cause is the change to Chrome on SameSite cookie handling. See:

https://developers.google.com/search/blog/2020/01/get-ready-for-new-samesitenone-secure

The fix should be simple. Set "SameSite=None; Secure" on secure cookies. I tested this manually by setting SameSite=None in my JS console, and the votes persisted after reload.

[2022-04-04 20:45] metasoarous commented on #559
Thanks for chiming in on this @willcohen.

One tip that may be helpful is that you can set the default language via a `data-ui-lang` parameter on the embed container. This lets you manually specify which language is used for the UI components, instead of depending on browser setting detection. That should get around the friction you identify.

All that having been said, it would indeed be great if

[2022-04-11 20:41] willcohen commented on #803
@metasoarous we're running another conversation and are noticing that the report is now lagging the monitor by about 10k votes -- is it possible the math worker fell over again in the last few days?

[2022-04-12 09:47] Nathanpmyoung commented on #1261
Even an autogenerated image would be better than the current situation

[2022-04-12 14:51] Nathanpmyoung opened #1376 "Visualisation and report not showing"
**Expected behavior**:
I ticked "show visualisation" and expected it to appear beneath the polis poll. I generated a report URL and expected to be able to load one.

**Actual behavior**:
The visualisation isn't appearing. The poll isn't loading.

**To Reproduce**:
Go to this poll. No visualisation [here](https://pol.is/64xyejahhh )
This report not appearing [here](https://pol.is/report/r5nzx7tjmm7

[2022-04-12 19:32] metasoarous commented on #1376
Hi @Nathanpmyoung. Thanks for reporting this.

We're aware of the problem and are working on a solution. Nevertheless, rest assured that votes are currently still being captured, but the real-time math results which feed the participation visualization and report are not being generated. I hope to have this fixed in the next day or two.

Thanks again.

[2022-04-12 20:45] metasoarous commented on #803
Hey @willcohen; Yes, the math worker is down at the moment, unfortunately. Working to get it back up.

[2022-04-12 22:14] #1351 closed, assigned to nobody

[2022-04-13 01:00] metasoarous opened #1378 "Docker build taking way too long on Heroku"
Right now we're deploying with Heroku (see #962 #1301), but finding that it's taking up to **40 min** to build the docker images necessary to run using the docker infrastructure, which is insane. Ideally, we'd have a much tighter turn around.

A big improvement could probably come from taking the long `./Dockerfile` at the root of the project (which builds _all_ of the clients), and consolidating

[2022-04-14 21:27] metasoarous opened #1379 "Clean up server logging"
**Expected behavior**:
Logs are useful to look at.

**Actual behavior**:
A simple conversation index or even vote (!) request can produce literally over a thousand lines of logs :scream:

This is because the server:
* logs out intermediate request/response information at several points in the call pathway
* the object (and nested object) key-value pairs are logged out one pair per line, meaning on

[2022-04-15 00:58] metasoarous opened #1380 "Server error"
We are periodically getting the following error from the server on the `dev` branch:

[code]

In certain cases (either seed comment submission or voting, don't remember which), we're getting something a bit longer like this:

<details>
<pre>
TypeError: Cannot read property '11' of undefined
at finishWith304or404 (/app/dist/src/server.js:1589:38)
at /app/dist/src/server.js:1631:21
at tryCatcher (/a

[2022-04-15 23:47] metasoarous commented on #1380
This seems to have been introduced in the typescript conversion (#1232):

https://github.com/compdemocracy/polis/blame/dev/server/src/server.ts#L2059

The line there tries to initialize the `pcaResultsExistForZid` object mapping, even though it's already been initialized prior to the definition of the `handle_GET_math_pca2` function. This effectively nullifies the math result caching system.

It's

[2022-04-16 00:16] metasoarous opened #1382 "Fix TypeScript linenumbers on server stacktraces"
**Expected behavior**:
If there's an exception on the server, stacktraces should be printed with line numbers corresponding to our actual TypeScript source so that we can navigate the code and figure out what happened.

**Actual behavior**:
Line numbers currently correspond to the compiled JS, making it difficult to interpret stack traces.

**Additional context**:
This came up in #1380, and compli

[2022-04-16 23:05] metasoarous opened #1383 "Remove attempts to save deprecated participants extended data"
At some point, we removed a number of fields from the `participants_extended` table, but there's still code in the server that attempts to save this information, leading to logging error messages. Need to remove these.

[code]

[2022-04-19 05:12] metasoarous opened #1391 "Fix problem with bcrypt library linkage breaking in dev"
Had trouble getting the system started with docker-compose with the dev overlay because I kept getting an error like `Error: Cannot find module .... bcrypt`.

This seemed to have been caused by some build directory corruption, and was fixed by the suggestion [here](https://stackoverflow.com/questions/34546272/cannot-find-module-bcrypt) of running `npm rebuild`. Of course, this had to be done from

[2022-04-19 05:57] metasoarous opened #1392 "Fix flaky Cypress CI tests"
Our Cypress CI tests have been getting increasingly flaky of late:

https://github.com/compdemocracy/polis/pull/1341#discussion_r837944450
https://github.com/compdemocracy/polis/pull/1354#issuecomment-1094284857

They seem to sporadically pass, then fail in a random manner, making useless (or worse).

[2022-04-19 07:16] metasoarous commented on #1392
FWIW, now the tests aren't even running at all because of a `npm ci` issue that I haven't been able to sort out.

https://github.com/compdemocracy/polis/runs/6072601477?check_suite_focus=true#step:10:32

[2022-04-19 07:19] #1279 closed, assigned to nobody

[2022-04-19 07:19] #1380 closed, assigned to nobody

[2022-04-19 07:21] metasoarous commented on #1279
Hi @andxblack. Thanks for reporting this.

This should be fixed as of #962. If it's not, please reopen, or start a new issue if it seems like a different problem.

Thanks again

[2022-04-19 09:48] metasoarous commented on #1379
See also #1382.

[2022-04-19 16:52] metasoarous commented on #555
This is resolved now, as of #1396. Still more "development conveniences" that could be added, but the separation part is now more or less complete, AFAICT. If you notice something else that should be different though, please feel free to submit a PR or new issue. Thanks!

[2022-04-19 16:52] #555 closed

[2022-04-19 17:08] metasoarous commented on #575
This now documented in `math/README.md`. Feel free to submit a new PR for which points to this content from the main README.md (or elsewhere) if it's helpful. Thanks.

[2022-04-19 17:08] #575 closed

[2022-04-19 17:57] metasoarous commented on #1352
Here's some tutorials on how to do this from within `docker-compose` without having to use kubernetes or anything:

https://pspdfkit.com/blog/2018/how-to-use-docker-compose-to-run-multiple-instances-of-a-service-in-development/
https://medium.com/@vinodkrane/microservices-scaling-and-load-balancing-using-docker-compose-78bf8dc04da9

And actually, from the looks of it, nginx does most of the heavy

[2022-04-19 18:05] geoah commented on #1352
Is the expectation of this to scale the `server` on the same docker host or something fancier like swarm etc?

I can very simply scale the server to multiple replicas and have the `nging-proxy` route traffic to all replicas by making some small changes to the `docker-compose.yml` and either setting the `scale` of the `server` to a higher value, or interactively by `docker-compose -f docker-compose

[2022-04-19 18:16] metasoarous commented on #1352
Scaling on the same host is a great first step. Eventually scaling on swarm would be great as well though.

All those proposed changes sound fine.

[2022-04-19 18:17] geoah commented on #1352
This should support scaling on swarm as well from what I can tell.
I'm taking a look on whether this way allows for autoscaling now and will get a PR started in a bit and we can chat on that.

[2022-04-19 18:18] metasoarous commented on #1352
Fantastic!

[2022-04-19 19:03] metasoarous commented on #1391
Now seeing this manifest in a slightly different manner with `Error: Error loading shared library /app/node_modules/bcrypt/lib/binding/napi-v3/brcypt-lib.node: Exec format error`

![image](https://user-images.githubusercontent.com/88556/164076345-4aa03caf-3e2d-4672-a43b-6610caf70092.png)

This time, the `npm rebuild` trick did not work for the user. After a [little research](https://github.com/kel

[2022-04-19 19:55] #1352 closed, assigned to nobody

[2022-04-19 20:12] metasoarous opened #1398 "Support auto-scaling"
Thanks to @geoah, we now are able to support scaling the server (see #1352). However, it's not clear that we'll be able to support auto-scaling through the current `docker-compose` setup.

If it's possible to support this via `docker-compose` with some additional configuration or documentation, that would be a great solution. There have been recent efforts by the docker team to make `docker-compos

[2022-04-19 20:14] metasoarous commented on #1392
There are some notes on running the cypress tests locally here, which may be helpful:

https://github.com/compdemocracy/polis/wiki/Running-E2E-tests-locally

There's also some steps which might be taken to run the workflows manually on a GitHub fork, if that proves easier.

https://github.com/compdemocracy/polis/pull/1341#discussion_r831463067

[2022-04-19 20:30] sirodoht commented on #1391
This message might be relevant (from the npm build log):

[2022-04-19 23:19] #1391 closed, assigned to nobody

[2022-04-19 23:28] metasoarous commented on #1391
@sirodoht Thanks again for helping debug this! I'm sorry we weren't able to get it resolved sooner while the hack night was still ongoing, but I think I figured out why switching to bcryptjs didn't work. There was an additional server file that we needed to update to refer to bcryptjs (also, it took a couple of starts for the change to get picked up). Anyway, this should be resolved now, and I'd g

[2022-04-20 00:54] sirodoht commented on #1391
Just tried and it works now! I think the problem wasn't the second file after all, but the fact that I didn't `rm -rf node_modules`. Anyhoo, all good now 👌

[2022-04-20 04:54] metasoarous commented on #1391
Excellent! Glad to hear it.

And yes, not cleaning out the `node_modules` may have been what led me to have to rerun a couple times to get it working.

Nevertheless, on my first pass through it didn't work, and I very nearly missed that the error the second time around was coming not from `server.ts`, but from `auth/password.ts` (easy to miss in part because `server.ts` was still showing up in the

[2022-04-20 05:19] metasoarous opened #1401 "Add math worker allowlist and blocklist"
**Problem**:
When large conversations hit the system, they can swamp out any other conversations from getting processed (heap memory overflow leads to the worker crashing in a way that doesn't auto restart).

**Suggested solution**:
An allowlist/blocklist setup allows us to turn off this processing for the main math worker, and process these large conversations separately.

**Additional context**:

[2022-04-20 05:43] #1401 closed, assigned to nobody

[2022-04-20 06:32] metasoarous commented on #803
Hey @willcohen; Just wanted to let you know that the worker is back up and running, and your conversation results should be up to date now. Sorry for the delay there. Thanks for letting us know.

[2022-04-20 06:35] metasoarous commented on #1376
Hi @Nathanpmyoung; Thanks again for letting us know about this.

The math worker is back in operation again, and reports/visualizations should be getting generated.

Thanks again

[2022-04-20 06:35] #1376 closed, assigned to nobody

[2022-04-29 22:03] ntnsndr opened #1412 "Enable admin and/or public access to social media handles of participants"
**Problem**:
In some cases, it may be helpful for users' participation to be correlated to their public online personas. For instance:

* Ability to root out spam by correlating data with blocklists and/or blue-checks
* Ability to engage further with users through social media

**Suggested solution**:
With users' permission (which may be required for certain polls), enable the social media usernam

[2022-05-02 21:26] brendanarnold opened #1415 "Math server filling up with errorconv.*.edn files"
### Discussed in https://github.com/compdemocracy/polis/discussions/1411

<div type='discussions-op-text'>

<sup>Originally posted by **brendanarnold** April 29, 2022</sup>
Our math Docker instance is growing in size, now currently 32GB, and it seems mostly due to files in the root of format `errorconv.*.edn` where * is some number like `4005751755609769`. They are up to 20MB each and there are hu

[2022-05-03 22:28] metasoarous commented on #1412
Hi @ntnsndr! Thanks for bringing this issue up.

This is currently possible using Polis' xid system, which is documented here: https://compdemocracy.org/xid. This system allows you to associate a unique identifier (the `xid`) with each participation record, however you like. However, this requires that Polis be embedded in another page, and that the owner of the embedding page be responsible for m

[2022-06-03 09:03] cedoor opened #1437 "Sybil-resistance mechanism"
**Problem**:

When you want to submit a statement on [pol.is](https://pol.is) you need to connect an identity with Facebook or Twitter. However, it is quite easy to create fake accounts on those social media. If a high enough number of fake accounts add statements the quality of the conversation is lowered and the results are compromised.

**Suggested solution**:

- projects that seek to prevent [

[2022-06-06 06:59] edenist opened #1438 "Clojure error on execution of data export command"
**Expected behavior**:
When I run the data export command, a zip file should be produced containing the data from the conversation specified.

`docker compose -f docker-compose.yml run math clojure -M:run export <conversation_id> -f <conversation_id>.zip`

**Actual behavior**:
Clojure throws an error with the following output:

[code]

**Additional context**:
I have a basic polis installation runn

[2022-06-06 08:18] NewJerseyStyle commented on #507
A language model demo has been made on ['american-assembly.bowling-green'](https://github.com/compdemocracy/openData/tree/master/american-assembly.bowling-green) comments

The model read through all the comments and created summary: `Warren County's chief minister has announced a major shake-up of the county. Here is the full list of issues facing the city.`

If filtered all `moderated > 0` commen

[2022-06-06 08:32] colinmegill commented on #507
@NewJerseyStyle Not under development, this issue is still up to date and we are tracking here, we'll be interested to follow along!

[2022-06-06 08:37] NewJerseyStyle commented on #1398
As I know, all scaling feature is deprecated in `docker-compose` for years... So I don't think there is any magic that we can scaling out by simply adding some more `docker-compose` configurations.

Do it with something like `Kubernetes`, or create some load-balancers, distributed database and run `docker-compose` on each machine using the same set of load-balancers and distributed database with `

[2022-06-06 08:38] NewJerseyStyle commented on #507
@colinmegill Still have the link of my Colab? You can preview the test there before I finish all the tests and the repo things =)

[2022-06-06 08:42] colinmegill commented on #507
I do :)

[2022-06-06 08:46] NewJerseyStyle commented on #507
Tips:
Section `Summarization` ;)

[2022-06-06 08:56] NewJerseyStyle commented on #915
@colinmegill I love the idea of `automated conversations`

[2022-06-06 09:01] NewJerseyStyle commented on #915
@ceteri How is the progress there? I am doing a demo on summarization with the [openData](https://github.com/compdemocracy/openData) collected from threads in `Polis`. Saw this issue here and think maybe you have already some made more progress? Say a _question answering_ model? I can ask question in a topic and figure out what is going on without reading all the comments in the topic? Or ask the

[2022-06-06 11:49] NewJerseyStyle commented on #507
The public repository sharing the Python source code of the summarization model and its outputs:
https://github.com/NewJerseyStyle/Polis-openData-Summarization

[2022-06-07 03:17] NewJerseyStyle opened #1439 "Broken README -Get Involved"
Is `README.md` only for showing on `GitHub repository`? Or it is designed for displaying / rendering somewhere else?

I think some part of it is not showing properly in my Google Chrome. May I create a pull request to make the section of `Get Involved` better for showing on GitHub?

[2022-06-07 04:15] NewJerseyStyle commented on #507
Google Colab : [Question Answer demo on Polis openData](https://colab.research.google.com/drive/1ZEn1nIBJQgskjbhtFu217QYKIaLyabdT?usp=sharing)

I did not find a free hosting service capable of hosting such model and runs well... So I just leave it a Google Colab... :angel:

[2022-06-15 19:08] metasoarous commented on #1398
Hi @NewJerseyStyle; Thanks for commenting here.

This may be true of ye old `docker-compose`, but the ecosystem is a little confusing right now, because there's also now `docker  compose` built into `docker`, and this has now been set up to support deploying to AWS or other cloud providers (IIUC, via docker swarm). So I think it _may_ be possible now, but haven't fully explored this yet, and it's

[2022-06-15 19:10] metasoarous commented on #1398
That having been said, we do have a Draft PR with a Kubernetes setup: #1399.

I think we'll likely continue to support both options for the foreseeable future, since even if `docker compose` is able to auto-scale, it's much newer on the scene than Kubernetes, and I think is intentionally not as sophisticated (and so may be more appropriate in particular circumstances).

[2022-06-15 19:16] metasoarous commented on #1438
Hi @edenist. Thanks for posting this issue here.

As you suspect, this bug is the result of a change in AWS libraries we're using on the math worker, which accidentally led to the AWS configuration being required for the code to run (even though it's optional for functionality). I fixed this in a branch, and just need to push the changes.

I'll try to get that up this week.

Thanks again

[2022-06-16 05:44] NewJerseyStyle commented on #1398
Oh... I thought docker swarm was End-Of-Life something :see_no_evil:

[2022-06-16 19:30] metasoarous commented on #1398
As far as I can tell, it's still a thing. And actually, after poking at this for a short bit, it seems like most of the answers to "how to get docker compose to autoscale" is actually to look at `docker swarm`. It's still not totally clear to me how all the configuration actually fits together when using together, but that's the thread which can be pulled on here.

My sense is that `docker compose

[2022-06-17 06:42] NewJerseyStyle commented on #1398
I always think Kubernetes is too heavy for small clusters to maintain (Myth?). I prefer `docker swarm` in this case.

[2022-06-19 01:47] edenist commented on #1438
Thanks very much @metasoarous for confirming these details and for creating the fix. I look forward to checking out the new branch shortly :-)

[2022-06-29 06:57] edenist commented on #1438
Hi @metasoarous, just touching base to see if there is any other assistance or debugging I can provide with this issue, if you've had a moment to push the changes yet?

Thanks very much.

[2022-06-29 19:43] metasoarous commented on #1438
Hi @edenist. Thanks for checking in.

This is now fixed on the dev branch as of eaa28a6b.

[2022-06-29 19:43] #1438 closed, assigned to nobody

[2022-07-18 04:57] NewJerseyStyle commented on #1439
I see... The `[name]: http://some.url/path/` pattern is some variable things. I then propose an update on the URL of project `board` then. As I click and see Error 404.

[2022-07-18 05:10] #1439 closed, assigned to nobody

[2022-07-22 12:07] Simon-Dirks commented on #289
I recently deployed to a VPS and used [Caddy](https://github.com/caddyserver/caddy) as a simple reverse proxy. Perhaps not a sustainable solution but made my life a whole lot easier as a quick fix!

[2022-07-28 13:26] burnoutberni commented on #834
I just ran into the same issue here: https://pol.is/4ibnmbrzwp

Update: I think this might have something to do with me creating a report before any voting has initiated. I started another poll and didn't have any issues.

[2022-07-28 13:37] burnoutberni commented on #97
Because OpenID is mentioned above: The de-facto standard today is OpenID Connect, which is gradually replacing SAML and is supported both by cloud authentication providers (Google, Auth0, Okta,…) and FLOSS alternatives like Shibboleth, Keycloak,…

I haven't looked into the code base yet, but this should be rather easy to implement, but very versatile: https://betterprogramming.pub/the-complete-gui

[2022-08-16 14:25] Simon-Dirks opened #1495 "Performance issues with about 100 simultaneous users"
Hi all,

I'm running a self-hosted instance of Polis on an Ubuntu 20.04 VPS (8GB RAM, 2.4GHz 4-core CPU). I'm deploying using docker-compose, and running into performance issues with about 100 simultaneous users.

What I've tried already to (successfully) boost performance:
1. `server/docker.env` file: `DEV_MODE=false`, `MATH_ENV=prod`
2. `scale: 8` for server in`docker-compose.yml`. I'm using [Ca

[2022-08-16 23:25] metasoarous commented on #1495
If 100 participants submit comments at that rate for 5 minutes, that gives you 5000 comments, which is _much_ larger than we have ever seen in any real world usage. Conversations with that many comments would tend to have several to tens of thousands of participants. Because the computational complexity of the math worker grows with the number of comments, you end up placing much higher load on th

[2022-08-17 11:47] Simon-Dirks commented on #1495
@metasoarous Shoot, what you're saying makes a lot of sense! In our previous tests we received about 50 statements for approx 60 participants, so I'll recalibrate to simulate a more realistic scenario. For reference's sake, I'll post an update here with my new load test findings (probably some time next week).

Thanks a lot!

[2022-08-17 17:41] metasoarous commented on #1495
You're quite welcome. And yes, please do report back. The results will surely be helpful for others. Thanks!

[2022-08-17 18:06] metasoarous commented on #1495
@Simon-Dirks Folks might also be interesting in seeing your Caddy setup, if you're able to share that.

[2022-08-18 09:33] Simon-Dirks commented on #1495
Of course! I disabled the nginx-proxy in the docker-compose file, and added a `Caddyfile` in the root. The Caddyfile can be extremely basic:
`
[DOMAIN_NAME_HERE] {
  reverse_proxy 127.0.0.1:5000 127.0.0.1:5001 127.0.0.1:5002
}
`

I've added [access logging](https://caddyserver.com/docs/caddyfile/directives/log) as well, but this is of course optional: `
  log {
	output file /var/log/polis-access.l

[2022-08-25 10:04] Simon-Dirks commented on #1495
@metasoarous As promised, here's an updated performance report! I've created a new conversation with six seed statements, and five rejected statements. I ran my load test for five minutes, and accepted all (randomly generated) incoming statements manually as a moderator.

I kept one participant window open where I voted randomly on newly accepted statements. Otherwise, all voting was simulated by

[2022-08-25 10:04] #1495 closed, assigned to nobody

[2022-08-28 01:57] SebastianRuan commented on #1382
I took a look at your suggested solution metasoarous and have it working on my end. However, the module only works with Error objects as it manipulates the stack property. Since primitive exceptions (throwing strings, numbers etc.) do not have a stack property they will not be correctly identified in stack traces. I noticed there are quite a few strings thrown in the .ts files. Would another solut

[2022-08-29 21:24] metasoarous commented on #1382
Awesome; Thanks for spearheading this @SebastianRuan!

I would support us rewriting our throws to use error objects if that gets us around this problem. We already have an issue up tracking overall improved logging (see #1379), and this would fit well with that.

[2022-08-29 23:09] metasoarous commented on #289
Hi @Simon-Dirks. Thanks for sharing. Do you have any OSS code that you'd be able to point to for this?

[2022-08-31 06:41] edenist commented on #896
I don't have much to add [other than my appreciation to those who have discussed beforehand], but wanted  to confirm that we are hitting this issue on our polis deployment in what appears to be a similar configuration to @midgleyc. Happy to contribute to some possible fixes.

[2022-08-31 07:27] edenist opened #1508 "ReferenceError: authorUid is not defined"
**Expected behavior**:
This issue pertains to opening an existing conversation, and is relevant to both participant and owner views.

**Actual behavior**:
While conversations can be created fine and operate normally for a period of time*, I have noticed that sometimes after a participant submits a new comment then suddenly said conversation no longer opens in any view. Instead a 500 error is throw

[2022-09-04 18:15] patcon commented on #1266
Closing as the above fix was implemented in https://github.com/compdemocracy/polis/issues/1380 🎉

[2022-09-04 18:15] #1266 closed, assigned to patcon

[2022-09-05 20:47] nickstares commented on #1279
Hiya, I am running into this same issue trying to run the project for the first time. I tried to connect to polis-math via nREPL but couldn't connect (even though the nREPL proces did at one point start on `18975`) and realized that I also got these messages in the log:
[code]

[2022-09-05 21:29] patcon commented on #1279
It's been awhile, but I think most of those polis-math logs are expected, and just the `polis-math exited with code 0` is the one that shouldn't be happening

Is polis working fine when not trying to connect to math with nREPL? You'll know if you submit fake votes for 7 anon users and the visualization shows up (incognito tabs should work, so long as you allow voting without login)

[2022-09-06 01:11] patcon commented on #1508
Thanks for the bug report! Seems it's related to this line, which I think @micahstubbs flagged as a bug (via comment) when he was doing the big typescript conversion:

https://github.com/compdemocracy/polis/blob/f526a149437e032e0bca5acb6e75c3a6017e84fe/server/src/server.ts#L13198-L13207

My name shows up in the `git-blame` for commit 9a294140b, but it was def @micahstubbs work.

---

TANGENT: [As

[2022-09-06 01:20] patcon opened #1513 "Re-attribute typescript conversion commit to @micahstubbs"
Re-ticketed from https://github.com/compdemocracy/polis/issues/1508#issuecomment-1237559947

Commit in question: 9a294140b

[As mentioned elsewhere](https://github.com/compdemocracy/polis/pull/961#issuecomment-993075059), my name is mistakenly attributing to that commit. This is due to how GitHub sets commit author on _merge_ commits (which should be micah) as the PR initiator (which was me). @mic

[2022-09-06 02:46] patcon commented on #1392
What are the sporadic failures:
1. `emails.spec.js` [log proof.](https://github.com/compdemocracy/polis/runs/8178967772?check_suite_focus=true#step:10:716)
    - log error:
[code]
    - maybe helpful fix? https://stackoverflow.com/a/27601038/504018
2. [others?]

[2022-09-06 02:54] colinmegill commented on #1437
Polis inter-ops with identity mechanisms via `xid`. See:

- https://compdemocracy.org/xid
- https://compdemocracy.org/identity
- https://compdemocracy.org/embed-code/

An example implementation:

- https://github.com/RoboTeddy/polis-poh-embed-example/tree/main/src
- https://github.com/RoboTeddy/polis-poh-embed-example

[2022-09-06 02:54] #1437 closed, assigned to nobody

[2022-09-06 03:12] colinmegill commented on #1290
This has been resolved after a recent deploy, thanks @catproof!

[2022-09-06 03:12] #1290 closed, assigned to nobody

[2022-09-06 03:40] colinmegill commented on #274
Polis was load tested during development, this issue remained open pending an implementation for regularizing it. See recent issue #1495 which will suffice to close this issue as no new load testing is planned and this issue does not refer to any in progress infrastructure which will be added to the core repository.

[2022-09-06 03:40] #274 closed

[2022-09-06 03:42] colinmegill commented on #274
There are no present plans to add load testing to CI.

[2022-09-06 04:43] colinmegill opened #1517 "Upgrade to node 18.8.0 in server"
See: #1500

The line which specifies the engine in the server Dockerfile is here: https://github.com/compdemocracy/polis/blob/dev/server/Dockerfile#L1

[2022-09-07 17:19] SebastianRuan commented on #1392
I'm also getting emails.spec.js errors on github but the tests pass locally.
[My logs:](https://github.com/compdemocracy/polis/runs/8212291728?check_suite_focus=true#step:10:575)

[code]

I'm not sure why it is a different error than what @patcon was getting.

[2022-09-07 17:57] patcon commented on #1392
ooo that's a fun one. seems pretty general, but i don't recall seeing it elsewhere. If you have a sec, there should be a button to "re-run" on the logs page, and I'd be curious to know if it shows up again 🤔

[2022-09-12 04:32] patcon commented on #1392
Potential fix over here: https://github.com/compdemocracy/polis/pull/1521

[2022-09-19 19:36] #1517 closed, assigned to nobody

[2022-09-22 23:11] metasoarous commented on #132
We do not want conversations to have duplicate comments:
* This is a niche problem, since only facilitators have the option of submitting as a seed statement, and they need to be trained to operate the software effectively and ethically, regardless of this issue.
* If it's really important to make the change you describe in a live setting, the devops person maintaining the instance/deployment coul

[2022-09-22 23:11] #132 closed

[2022-09-23 18:44] metasoarous commented on #240
The discussion we had about this came long before the typescript work (HT again to @micahstubbs). That, and additional progress along the way, has made the path here much easier.

There is still some work to do, but where things stand I don't think that collecting data is necessarily the best way to start. We actually have a pretty decent sense of which routes need to be removed (e.g. #852). It ma

[2022-09-30 15:10] patcon commented on #240
Would it make sense to mark either this or https://github.com/compdemocracy/polis/issues/263 as a dup, and bring relevant info to the open one?

[2022-10-02 10:41] Simon-Dirks commented on #289
See https://github.com/compdemocracy/polis/issues/1495#issuecomment-1219256374!

[2022-10-14 04:37] robgitnyc opened #1549 "Social media logins don't work on embedded conversations"
Hi.

Upon failing to deploy my own instance of pol.is (https://github.com/compdemocracy/polis/discussions/1548) I tried to make pol.is work embedded in a simple html page, however upon trying to comment, social media logins don't work. Facebook says "facebook doesn't support this app" and twitter does log in but something happens that immediately goes back to "unlogged" state.

Help would be great

[2022-10-14 14:15] patcon commented on #1549
Ah shoot, that's unexpected to me...!

Might you be able to confirm that social media login features work fine when not embedded?

---

As an aside, if something did break that's related to us (and not changing web standard), then we might be able to catch these things with e2e tests for facebook login functionality. Will make a note there, as I don't think I considered that embedded and non-embed

[2022-10-14 14:16] patcon commented on #541
As noted in https://github.com/compdemocracy/polis/issues/1549#issue-1408752578, it's perhaps good to also test facebook login (and social login generally) both within iframes (embedded) and directly on the site. It seems that social login for embedded convos might break when it otherwise works.

[2022-10-14 16:03] robgitnyc commented on #1549
Social media logins work when login from the main server at pol.is. However with conversations embedded in a separate webpage (for instance a live github pages site), social media logins don't work.

[2022-10-14 16:08] ebarry opened #1550 "Improving the moderation workflow in large conversations"
📬 I'm posting this issue on behalf of a powerful facilitation partner who runs national scale conversations.

**What we mean when we say moderation**

At the outset, this facilitator describes themselves as a "strong moderator" , which they define as:

1. Pre-pre-launch: invest in a framing process to observe and document distinct position statements that together span the breadth of the topic inc

[2022-10-14 18:33] #1550 closed, assigned to nobody

[2022-11-21 16:49] vasrou opened #1558 "Greek translation causes 500 Internal Error in https://pol.is/api/v3/participationInit"
Hi,

Greek language in the interface should be working with embedding script. The translation is here https://github.com/compdemocracy/polis/blob/edge/client-participation/js/strings/gr.js and also listed as available in the official documentation at https://compdemocracy.org/interface-translations/

Instead, https://pol.is/api/v3/participationInit returns a polis_err_get_participationInit2 500 se

[2022-11-23 12:43] patcon commented on #1558
No specific insight here, but very generous of you to create a GitHub account and submit a report about it 😊

Just cc'ing @sirodoht since he might be curious that another Greek speaker is contributing to Polis (in whatever small way)

[2022-11-23 21:21] colinmegill opened #1559 "Vote prediction accuracy as metric of conversation completion"
h/t @xeeg cc @jucor

[2022-11-29 01:59] chena11356 opened #1563 "Ensure the migrations run on system build and also (ideally) startup"
**Additional context**:
Discovered as part of adding priority checkbox involving writing DB migration